<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/v1/web/uploadSnsContents" method="post" enctype="multipart/form-data">
       <br><br>
        <table>
          <tr>
            <th>비밀 번호</th>
            <td><input type="password" name="pw" size="10"></td>
          </tr>
          <tr>
            <th>유저 번호</th>
            <td><input type="text" name="userNo" value="22" size="50" maxlength="100"></td>
          </tr>
          <tr>
            <th>태그</th>
            <td><input type="text" name="postTags" value="#안방#거실" size="50" maxlength="150"></td>
          </tr>
          <tr>
            <th>내용</th>
            <td><textarea name="postContents" rows="10" cols="50"></textarea></td>
          </tr>
          <tr>
            <th>이미지</th><td>
            <%for(var i = 0; i< imgNo; i++) {%>
            <input type="file" name="postImages">
            <%}%></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <input type="submit" value="전송">
              <input type="reset" value="취소">
            </td>
          </tr>
      	</table>
     </form>
  </body>
</html>