<!DOCTYPE html>
<html lang=ko>
<head>
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
          name=viewport>
    <!-- <base href="http://www.homed.co.kr/main"> -->
    <meta name="description" content="국내 최초 온라인 홈스타일링 인테리어 서비스 - 소비자 맞춤 디자인 · 예산선 제품 추천 · 구매, 배송 대행까지!">
    <meta name="subject" content="홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="abstract" content="세상에서 가장 쉬운 홈스타일링 인테리어">
    <meta name="topic" content="홈스타일링, 인테리어, interior, homestyling, 셀프 인테리어, self interior">
    <!-- Full domain name or web address -->
    <meta name="url" content="http://www.homed.co.kr/">
    <meta name="category" content="홈스타일링,인테리어,홈데코,홈드레싱,셀프인테리어,homestyling,interior,homedeco,homedressing,selfinterior">
    <meta name="keywords" content="홈스타일링,인테리어,홈데코,홈드레싱,셀프인테리어,homestyling,interior,homedeco,homedressing,selfinterior"
          `>
    <title>홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D</title>
    <link href=/icon/home.d_logo1_96x96.png rel=icon>
    <meta content=article property=og:type>
    <meta content=/icon/home.d_logo2_192x192.png property=og:image>
    <meta content=/icon/home.d_logo2_192x192.png name=twitter:image>
    <!-- 오픈 그래프 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D">
    <meta property="og:image" content=/icon/home.d_logo2_192x192.png>
    <meta property="og:url" content="http://www.homed.co.kr">
    <meta property="og:description" content="국내 최초 온라인 홈스타일링 인테리어 서비스 - 소비자 맞춤 디자인 · 예산선 제품 추천 · 구매, 배송 대행까지!"/>

    <link rel="canonical" href="http://www.homed.co.kr">
    <!--[if lte IE 9]>

    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/ie/apply.css">
    <![endif]-->
    <!--[if (gt IE 9) | (!IE)]><!-->

    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/apply.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/nav.css">
    <!-- Hotjar Tracking Code for http://www.homed.co.kr -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:262210,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1737237109865339');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1737237109865339&ev=PageView&noscript=1"
                /></noscript>
    <!-- End Facebook Pixel Code -->
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-78690067-1', 'auto');
        ga('send', 'pageview');

    </script>

<body>

 <div class="clearfix" id="navbar">
     <div class="navbar-logo-div">
         <div class="navbar-logo-md"><a href="http://www.homed.co.kr"><img class="homed-logo-md homed-logo-change-class" src=/icon/logo_black.png alt="홈디 로고"></a>
         </div>
     </div>
     <div class="navbar-doInterior-div">
         <a href="/dointerior/apply">
             <div class="doInterior-box-div hidden-xs"><p class="doInterior-box-div-text">집 꾸미러 가기</p> <div class="nav-triangle"></div></div>
         </a>
     </div>
     <div class="navbar-menu-div">
         <ul class="hidden-xs">
             <li><a href="/portpolio" style=text-decoration:none>포트폴리오</a></li>
             <li><a href="/question/faq" style=text-decoration:none>자주하는 질문</a></li>
             <li><a href="http://blog.naver.com/3d1_one" target="_blank" style=text-decoration:none>블로그</a></li>
         </ul>
         <div class="navbar-logo-xs visible-xs"><img class="slide-btn-xs" src="/icon/slide_btn.png"></div>
     </div>
 </div>

 <!--[if (gt IE 9) | (!IE)]><!-->

 <div id="cover-screen">

 </div>
 <div id="navbar-aside-slide-xs">

           <div class="aside-menu-title">
               <a href="http://www.homed.co.kr"><p>집꾸미기가 즐겁다!</p></a>
               <img class="aside-menu-exit" src="/icon/exit_btn.png">
           </div>

           <a href="/portpolio"><div class="aside-menu-div">
              포트폴리오 <div class="aside-triangle"></div>
           </div></a>
           <a href="/question/faq"><div class="aside-menu-div">
              자주하는 질문 <div class="aside-triangle"></div>
           </div></a>
           <a href="http://blog.naver.com/3d1_one" target="_blank"><div class="aside-menu-div">
              블로그 <div class="aside-triangle"></div>
           </div></a>
           <a href="/dointerior/apply"><div class="aside-menu-div aside-menu-dointerior">
              집꾸미러가기 <div class="aside-triangle"></div>
           </div></a>
       <div class="aside-menu-contact-us">
           <p>문의하기</p>
           전화 : 070-5118-3772 <br>
           카카오톡 아이디 : 홈디homed <br>
           메일 : scomengineer12@homed.co.kr
       </div>
 </div>
 <!--<![endif]-->

 <!--[if lte IE 9]>
<div class="apply-homed-sorry-div">
<img src="/images/homed_sorry.png">
</div>

<![endif]-->
 <!--[if (gt IE 9) | (!IE)]><!-->
<div id="apply-page-div">
    <div id="apply-page-slider">
        <!-- 서비스 종류 선택  -->
        <div id="apply-page-0" class="apply-page">

          <div class="apply-select-page-contatiner">
            <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
              <p class="apply-apge-title-p">서비스 종류를 선택해 주세요!</p>
              <div class="apply-page-title-bar"></div>
              <p class="apply-apge-title-small-p">1 / 16</p>
            </div>
            <div class="apply-select-contatiner">

              <!--[if IE]>
              <div class="apply-select-div" id="apply-select-basic-ie" name="basic">
              <![endif]-->
              <!--[if !IE]> -->
              <div class="apply-select-div" id="apply-select-basic" name="basic">
              <!-- <![endif]-->
                <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                <div class="apply-select-title-div">
                  홈디 베이직
                </div>
                <div class="black-line-div"></div>

                <div class="apply-select-page-row apply-select-page-text-div-row-2"><div class="apply-select-page-icon-div"><img class="apply-select-page-icon  line-icon-div-2" src="/icon/doInterior/interiordo_icon_1_1.png"></div> <div class="apply-select-page-text-div">홈디맨 방문 후 디자이너에게 정보 전달<BR>[ 공간 실측, 상태 확인 ]</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-1"><div class="apply-select-page-icon-div"><img class="apply-select-page-icon" src="/icon/doInterior/interiordo_icon_2.png"></div> <div class="apply-select-page-text-div">2개의 컨셉보드 제안</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-1"><div class="apply-select-page-icon-div"><img class="apply-select-page-icon" src="/icon/doInterior/interiordo_icon_3.png"></div> <div class="apply-select-page-text-div">제품 추천 및 배치도</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-2"><div class="apply-select-page-icon-div "><img class="apply-select-page-icon line-icon-div-2" src="/icon/doInterior/interiordo_icon_5.png"></div> <div class="apply-select-page-text-div">제품 구매 관리 <br>[ 제품 구매 대행, 배송 관리 ]</div></div>
                <div class="apply-select-price-info-price-div">
                  <div class="grey-line-div"></div>
                  <div class="apply-select-price-info-div">
                    199,000원 / 방 1개
                  </div>
                </div>
              </div>
              <div class="apply-select-div" id="apply-select-primeum" name="primeum">
                <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                <div class="apply-select-title-div">
                  홈디 프리미엄
                </div>
                <div class="black-line-div"></div>

                <div class="apply-select-page-row apply-select-page-text-div-row-2"><div class="apply-select-page-icon-div "><img class="apply-select-page-icon line-icon-div-2" src="/icon/doInterior/interiordo_icon_1.png"></div> <div class="apply-select-page-text-div">디자이너 + 홈디맨 방문 <br>[ 공간 실측, 상태 확인 및 디자이너 상담 ]</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-1"><div class="apply-select-page-icon-div"><img class="apply-select-page-icon" src="/icon/doInterior/interiordo_icon_2.png"></div> <div class="apply-select-page-text-div">2개의 컨셉보드 제안</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-1"><div class="apply-select-page-icon-div"><img class="apply-select-page-icon" src="/icon/doInterior/interiordo_icon_3.png"></div> <div class="apply-select-page-text-div">제품 추천 및 배치도</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-1"><div class="apply-select-page-icon-div"><img class="apply-select-page-icon" src="/icon/doInterior/interiordo_icon_4.png"></div> <div class="apply-select-page-text-div">디자이너 방문 및 디자인 상담</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-2"><div class="apply-select-page-icon-div "><img class="apply-select-page-icon line-icon-div-2" src="/icon/doInterior/interiordo_icon_5.png"></div> <div class="apply-select-page-text-div">제품 구매 관리<br>[ 제품 구매 대행, 배송 관리 ]</div></div>
                <div class="apply-select-page-row apply-select-page-text-div-row-3"><div class="apply-select-page-icon-div "><img class="apply-select-page-icon line-icon-div-3" src="/icon/doInterior/interiordo_icon_6.png"></div> <div class="apply-select-page-text-div">디자이너 + 홈디맨 방문<br>[ 디자이너 : 최종 세팅 및 감리 ]<br>[ 홈디맨 : 최종 세팅 및 정리 ]</div></div>
                <div class="apply-select-price-info-price-div">
                  <div class="grey-line-div"></div>
                  <div class="apply-select-price-info-div">
                    499,000원 / 방 1개
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 동의 받기 -->
        <div id="apply-page-1" class="apply-page">
            <div class="apply-terms-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">홈디 약관 동의</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p">2 / 16</p>
              </div>
              <div class="apply-terms-conatiner">
                <div class="terms-div">
                    <table class="table">
                      <tr>
                          <th>  <h3>Home.D 이용 약관</h3> </th>
                      </tr>
                        <tr>
                            <td>


                                        <h4>제 1조 ( 목적 )</h4>
                                        Home.D (이하 "홈디"라 합니다) 서비스 이용 약관은 쓰리디원 (이하 "회사"라 합니
                                        다) 이 제공하는 Home.D 서비스(이하 '서비스'라 합니다)와 관련하여, 회사와 이용
                                        자 및 이용자간의 권리, 의무 및 책임 사항, 기타 필요한 사항을 규정함을 목적으로
                                        합니다.

                                        <h4>제 2조 ( 용어 ) </h4>
                                        ① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
                                        1. Home.D ( 이하 “홈디”라 합니다 ) : 회사가 운영하는 모바일 어플리케이션으로
                                          서, 이용자가 PC, 휴대형 단말기, 태블릿 PC 등 각종 유무선 기기 또는 프로그램
                                          을 통하여 이용할 수 있도록 재화 또는 용역에 대한 가격 등 정보를 제공하는
                                          가상의 영업장을 말합니다.<br>
                                        2. 회원 : 회사에 개인정보를 제공하여 회원 등록을 한 자로서, 회사의 정보를 지속
                                           적으로 제공받으며, 회사가 제공하는 서비스를 계속적으로 이용할 수 있는
                                           고객을 포괄적으로 의미합니다.<br>
                                        3. 디자이너 : 셀프인테리어 컨설팅 관련 서비스나 제품을 판매하는 직종에 종사
                                           하는 회원 중 회사가 지정한 절차 및 검수를 마치고 해당 회원의 서비스와
                                           제품에 대한 정보 및 상담을 제공할 수 있는 회원을 의미합니다.
                                           본 약관에서 별도로 전문가를 언급하지 않는 경우에는 모든 약관의 조항들이
                                           디자이너에게도 회원과 동일하게 적용됩니다.<br>
                                        4. 회원정보 : 회사가 가입 신청자에게 회원가입 신청양식(이하 “신청양식"이라 합니
                                          다)에 기재를 요청하는 가입신청자의 개인정보와 회원의 식별과 서비스 이용을
                                          위하여 회원이 입력하고 서비스 내 공개된 개인정보를 의미합니다.<br>
                                        5. 디자이너 정보 : 전문가가 되기 위해 회사가 지정한 절차 및 검수 과정에서 기재
                                           하는 전문가의 정보를 의미합니다.<br>
                                        6. ID (고유번호) : 회원 식별과 회원의 본 서비스 이용을 위하여 회원이 선정하고
                                          회사가 승인하는 문자와 숫자의 조합을 말합니다. 본 서비스에서는 E-mail 주소를
                                          ID로 사용합니다.<br>
                                        7. PASSWORD(비밀번호) : 회원의 정보 보호를 위해 회원 자신이 설정한 문자와
                                          숫자의 조합을 말합니다.<br>
                                        8. 게시물 : 회원 또는 회사가 서비스에 게시 또는 등록하는 부호(URL 포함), 문자,
                                          음성, 음향, 영상(동영상 포함),이미지(사진 포함), 파일등 일체의 정보를 말합니다.<br>
                                          <br>
                                          <br>
                                        ② 제1항에서 정의되지 않은 이 약관상의 용어의 의미는 일반적인 거래 관행에 의합니다.<br>
                                        <br>
                                        <h4>제 3조 (약관의 효력 및 변경)</h4>
                                        ① 회사는 이 약관의 내용을 회사의 상호, 영업소 소재지, 대표자의 성명, 사업자
                                           등록번호, 연락처(전화, 팩스, 전자우편주소 등)등과 함께 회원이 확인할 수
                                           있도록 홈디 회사 정보 화면에 게시합니다.  <br>
                                        ② 회사는 약관의 규제에 관한 법률, 전자문서 및 전자거래 기본법, 전자서명법,
                                           정보통신망 이용 촉진 및 정보보호등에 관한 법률(이하 “정보통신망법”이라 함)
                                           등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.    <br>
                                        ③ 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과
                                           함께 공지사항에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.     <br>
                                        ④ 회사가 전 항에 따라 개정약관을 공지할 때에 이용자가 명시적으로 거부의 의사
                                           를 표시하지 않거나 이용계약을 해지하지 않는 경우 개정약관에 동의한 것으로
                                           봅니다.     <br>
                                        ⑤ 회사가 이용자에게 이용약관의 변경을 공지하였음에도 불구하고 이용자가 이를
                                           알지 못하여 발생하는 피해에 대하여 회사는 책임지지 않습니다.   <br>
                                        ⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에
                                           서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정 거래 위원회가
                                           정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상 관례에 따릅
                                           니다.  <br>    <br>    <br>    <br>



                                        <h4>제 4조 ( 서비스의 제공 및 변경 )</h4>
                                        ① 회사는 다음과 같은 업무를 수행합니다.     <br>
                                        1. 국내 쇼핑몰에서 판매되는 상품의 정보와 가격을 제공함으로써 판매회원 및
                                          제휴사와 구매자 사이에 원활하고 효율적인 거래를 위한 마켓 서비스를 제공하는
                                          중개서비스     <br>
                                        2. 셀프인테리어 컨설팅이 가능한 디자이너와 셀프인테리어를 희망하는 고객 사이
                                          에서 매칭해주는 중개서비스    <br>
                                        3. 회원간의 활발한 정보공유의 장을 마련하기 위한 커뮤니티 SNS 서비스
                                        4. 기타 본 조항에 정한 업무에 부수한 업무   <br>    <br>

                                        ② 회사는 재화 또는 용역의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공
                                           할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화
                                           또는 용역의 내용 및 제공 일자를 명시하여 현재의 재화 또는 용역의 내용을
                                           게시한 곳에 즉시 공지합니다.     <br>
                                        ③ 회사가 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 기술적
                                           사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용 자에게 통지 가능한
                                           연락처로 즉시 통지합니다.   <br>
                                        ④ 회사가 제공하는 서비스는 이용자와 제휴사 간에 재화 또는 용역을 거래할 수
                                           있도록 홈디의 이용을 허락하거나,  통신판매를 중개하고 재화 또는 용역의
                                           정보만을 제공하는 것을 목적으로 하며, 회사는 제휴사가 홈디에 제공하는 재화
                                           또는 용역의 정보에 관련해서는 일체의 책임을 지지 않습니다.    <br>
                                        ⑤ 전항의 경우 회사는 이로 인하여 이용자가 입은 손해를 배상합니다.  <br>
                                           다만, 회사가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.  <br>    <br>

                                        <h4>제 5조 ( 서비스의 중단 )</h4>
                                        ① 회사는 컴퓨터 등 정보통신설비의 보수점검 교체 및 고장, 통신의 두절 등의
                                           사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.  <br>
                                        ② 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공 할
                                           수 없게 되는 경우에는 회사는 회사가 정한 방법으로 이용자에게 통지하고 당초
                                           회사에서 제시한 조건에 따라 소비자에게 보상합니다.     <br>
                                        <h4>제 6조( 회원가입 )</h4>
                                        ① 이용자는 회사가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의
                                           한다는 의사표시를 함으로서 회원가입을 신청합니다.  <br>
                                        ② 회사는 가입신청자의 신청에 대하여 서비스 이용을 승낙함을 원칙으로 합니다.
                                           다만, 회사는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후
                                           에 이용계약을 해지할 수 있습니다.  <br>
                                        1. 가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우.     <br>
                                           단, 회사의 회원 재가입 승낙을 얻은 경우에는 예외로 함.     <br>
                                        2. 실명이 아니거나 타인의 명의를 이용한 경우  <br>
                                        3. 허위의 정보를 기재하거나, 회사가 제시하는 내용을 기재하지 않은 경우   <br>
                                        4. 14세 미만 아동이 법정대리인(부모 등)의 동의를 얻지 아니한 경우    <br>
                                        5. 이용자의 귀책사유로 인하여 승낙이 불가능하거나 기타 사항을 위반하여 신청
                                           하는 경우    <br>
                                        ③ 전항의 규정에 따라 회원가입 신청의 승낙을 하지 아니하거나 유보한 경우,
                                           회사는 원칙적으로 이를 가입 신청자에게 알리도록 합니다.  <br>
                                        ④ 이용 계약의 성립 시기는 회사가 가입 완료를 신청 절차상에서 표시한 시점으로
                                           합니다.     <br>
                                        ⑤ 회원은 회원 가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “몰”
                                           에 대하여 회원 정보 수정 등의 방법으로 그 변경 사항을 알려야 합니다.     <br>
                                        ⑥ 전항의 경우 수정하지 않은 정보로 인하여 발생하는 손해는 당해 회원이 전적
                                           으로 부담하며, 회사는 이에 대하여 아무런 책임을 지지 않습니다.     <br>

                                        <br><h4>제 7조 ( 아이디 및 비밀번호의 관리 )</h4>
                                        ① 아이디(ID) 및 비밀번호에 대한 관리책임은 회원에게 있으며, 회원은 어떠한
                                           경우에도 본인의 아이디(ID) 또는 비밀번호를 타인에게 양도하거나 대여할 수
                                           없습니다.    <br>
                                        ② 회사의 귀책사유 없이 아이디(ID) 또는 비밀번호의 유출, 양도, 대여로 인하여
                                           발생하는 손실이나 손해에 대하여 이용자 본인이 그에 대한 책임을 부담합니다.   <br>
                                        ③ 회원은 아이디(ID) 또는 비밀번호를 도난 당하거나 제3자가 무단으로 사용하고
                                           있음을 인지한 경우, 즉시 회사에 통보하여야 하고 회사는 이에 대한 신속한
                                            처리를 위하여 최선의 노력을 다하여야 합니다.   <br>    <br>

                                        <h4>제 8조 ( 게시물에 대한 책임 )</h4>
                                        ① 회사는 회원이 게시하거나 전달하는 서비스 내의 게시물이 다음 각 호의 경우에
                                           해당한다고 판단되는 경우 사전 통지 없이 삭제할 수 있으며, 이에 대해 회사는
                                           어떠한 책임도 지지 않습니다.     <br>
                                        1. 회사, 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는
                                          내용인 경우    <br>
                                        2. 공공질서 및 미풍양속에 위반되는 내용의 게시물에 해당하는 경우   <br>
                                        3. 범죄 행위에 결부된다고 인정되는 내용인 경우     <br>
                                        4. 회사 또는 제3자의 저작권, 기타 타인의 권리를 침해하는 내용인 경우   <br>
                                        5. 회사가 정한 개별 서비스 별 세부이용지침에 반하는 내용인 경우   <br>
                                        6. 회사에서 제공하는 서비스와 관련 없는 내용인 경우  <br>
                                        7. 불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우  <br>
                                        8. 타인의 명의 등을 무단으로 도용하여 작성한 내용이거나, 타인이 입력한 정보를
                                           무단으로 위ㆍ변조한 내용인 경우    <br>
                                        9. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우   <br>
                                        10. 게시물의 정보를 외부 서비스에서 사용하는 행위를 금지하는 사이트에서
                                            URL 정보를 수집하여 게재하는 경우    <br>
                                        11. 기타 관계 법령 및 회사의 개별 서비스 별 세부이용지침 등에 위반된다고
                                            판단되는 경우     <br>
                                        ② 회사는 개별 서비스 별로 게시물과 관련된 세부이용지침을 별도로 정하여 시행
                                           할 수 있으며, 회원은 그 지침에 따라 게시물(회원 간 전달 포함)을 게재하여야
                                           합니다.     <br>
                                        ③ 디자이너가 아니면서 인테리어 관련 직종에 종사하는 회원이 해당 회원의
                                           서비스와 제품에 대한 정보가 담긴 게시물을 서비스 내에 게재할 경우에는
                                           회사는 해당 게시물을 사전 통지 없이 삭제할 수 있으며, 이에 대해 회사는
                                           어떤 책임도 지지 않습니다.  <br>    <br>    <br>


                                        <h4>제 9조 ( 게시물의 저작권 등 )</h4>
                                        ① 회원이 서비스 내에 게시한 게시물의 저작권은 저작권법에 의해 보호를 받으며,
                                           회사가 작성한 저작물에 대한 저작권 및 기타 지적재산권은 회사에 귀속합니다.   <br>
                                        ② 회원은 자신이 서비스 내에 게시한 게시물을 회사가 국내ㆍ외에서 다음 각 호의
                                           목적으로 사용하는 것을 허락합니다.  <br>
                                        1. 서비스(제3자가 운영하는 사이트 또는 미디어의 일정 영역 내에 입점하여 서비스
                                          가 제공되는 경우 포함) 내에서 게시물을 사용하기 위하여 게시물의 크기를 변환
                                          하거나 단순화하는 등의 방식으로 수정하는 것  <br>
                                        2. 회사 또는 관계사가 운영하는 본 서비스 및 연동 서비스 에 게시물을 복제ㆍ
                                          전송ㆍ전시하는 것. 다만, 회원이 게시물의 복제ㆍ전송ㆍ전시에 반대 의견을
                                           E-mail을 통해 관리자에게 통지할 경우에는 그러하지 않습니다.     <br>
                                        3. 회사의 서비스를 홍보하기 위한 목적으로 미디어, 통신사 등에게 게시물의 내용
                                           을 보도, 방영하게 하는 것.     <br>
                                        4. 회사가 책 출판 및 교육용 자료로 사용하는 경우.  <br>
                                        ③ 전 항의 규정에도 불구하고, 회사가 게시물을 전 항 각 호에 기재된 목적 이 외
                                           에 제3자에게 게시물을 제공하고 금전적 대가를 지급받는 경우에는 사전에
                                           전화, E-mail 등의 방법으로 회원의 동의를 얻습니다. 이 경우 회사는 회원에게
                                           별도의 보상을 제공합니다.   <br>
                                        ④ 회원이 서비스에 게시물을 게재하는 것은 다른 회원이 게시물을 서비스 내에서
                                           사용하거나, 회사가 검색결과로 사용하는 것을 허락한 것으로 봅니다.
                                           그리고 스마트폰, 태블릿 PC의 서비스 이용자(앱 또는 브라우저로 서비스를
                                           비가입 방문한 경우도 포함)가 소프트웨어( 예:앱, 브라우저) 또는 하드웨어
                                           (예: 스마트폰, 태블릿PC)에서 제공하는 기능을 이용하여 게시물을 저장한 후
                                           활용하는 것을 허락한 것으로 봅니다.     <br>
                                        ⑤ 제18조에 의해 이용계약이 해지되는 경우 회원이 서비스에 게시한 게시물은
                                           삭제됩니다.   <br>
                                           다만, 다른 회원 또는 제3자에게 의하여 스크랩, 공유 등의 기능을 통해 다시
                                           게시된 게시물 및 댓글 등 다른 회원의 정상적인 서비스 이용에 필요한 게시물
                                           은 삭제되지 않습니다.     <br>
                                        ⑥ 회사는 서비스 운영정책상 또는 회사가 운영하는 사이트간의 통합 등을 하는
                                           경우 게시물의 내용을 변경하지 아니하고 게시물의 게재 위치를 변경ㆍ이전하거
                                           나 사이트간 공유로 하여 서비스할 수 있습니다.   <br> 다만, 게시물의 이전ㆍ변경
                                           또는 공유를 하는 경우에는 사전에 공지합니다.    <br>    <br>

                                        <h4>제 10조 ( 회사의 의무 )</h4>
                                        회사는 서비스 제공과 관련하여 알고 있는 회원의 회원정보를 본인의 동의 없이
                                        제3자에게 제공하지 않습니다.    <br>
                                        ② 회사는 회원의 회원정보를 보호하기 위해 보안시스템을 구축 운영하며,
                                           "개인정보취급방침"을 공지하고 준수합니다.  <br>
                                           또한, 회사는 "개인정보취급방침"에 따라 회원정보를 취급함에 있어 안정성
                                           확보에 필요한 기술적 및 관리적 대책을 수립ㆍ운영합니다.  <br>
                                        ③ 회사는 서비스와 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게
                                           처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 서비스
                                           화면에 게재하거나 E-mail 등을 통하여 회원에게 통지합니다.  <br>
                                        ④ 회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가
                                           회사의 고의나 중과실에 의해 발생한 경우에 한하여 회사에서 책임을 부담하며,
                                           그 책임의 범위는 통상손해에 한합니다.    <br>    <br>

                                        <h4>제 11조 ( 회원의 의무 )</h4>
                                        ① 회원은 관계법령, 약관, 서비스 이용안내 및 서비스상에 공지한 주의사항, 회사가
                                           서비스 이용과 관련하여 회원에게 통지하는 사항 등을 준수하여야 하며,
                                           기타 회사의 업무에 방해되는 행위를 하여서는 아니 됩니다.     <br>
                                        ② 회원은 회사에서 공식적으로 인정한 경우를 제외하고는 서비스를 이용하여
                                           상품을 판매하는 영업 활동을 할 수 없으며, 특히 해킹, 광고를 통한 수익,
                                           음란사이트를 통한 상업행위, 상용소프트웨어 불법배포 등을 할 수 없습니다.
                                           이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등
                                           법적 조치 등에 관해서는 회사가 책임을 지지 않으며, 회원은 이와 같은 행위와
                                           관련하여 회사에 대하여 손해배상 의무를 집니다.   <br>    <br>

                                        ③ 회원은 서비스의 이용권한, 기타 서비스 이용계약상의 지위를 타인에게 양도,
                                           증여할 수 없으며 이를 담보로 제공할 수 없습니다.     <br>    <br>

                                        <h4>제 12조 ( 회원에 대한 통지 )</h4>
                                        ① 회사는 회원의 서비스 이용에 필요한 권리 및 의무 등에 관한 사항을 회원이
                                           지정한 E-mail, SMS 등으로 통지할 수 있습니다.  <br>
                                        ② 회사는 불특정 다수 회원에 대한 통지의 경우 서비스에 게시함으로써 개별 통지
                                           에 갈음할 수 있습니다.    <br>    <br>

                                        <h4>제 13조 ( ID와 PASSWORD 관리에 대한 의무와 책임 )</h4>
                                        ① 회원은 자신의 ID와 PASSWORD 관리를 철저히 하여야 합니다.     <br>
                                           ID와 PASSWORD의 관리 소홀, 부정 사용에 의하여 발생하는 모든 결과에 대한
                                           책임은 회원 본인에게 있습니다.    <br>
                                        ② 회사"는 회원 ID의 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나
                                           회사 및 회사의 운영자로 오인할 우려가 있는 경우, 해당 ID의 이용을 제한
                                           할 수 있습니다.    <br>
                                        ③ 회원은 본인의 ID 및 PASSWORD를 타인에게 이용하게 해서는 안되며, 회원
                                           본인의 ID 및 PASSWORD를 도난 당하거나 타인이 사용하고 있음을 인지하는
                                           경우에는 바로 회사에 통보하고 회사의 안내가 있는 경우 그에 따라야 합니다.   <br>    <br>

                                        <h4>제 14조 ( 회원정보의 보호 및 이용 )</h4>
                                        ① 회사는 적법하고 공정한 수단에 의하여 이용계약의 성립 및 이행에 필요한
                                           최소한의 범위 내에서 개인정보취급방침에 따라 회원의 회원정보를 수집합니다.    <br>
                                        ② 회사의 개인정보취급방침은 회사에 연동된 다른 서비스(회사가 운영하지
                                           않는 서비스를 말합니다. 이하 같습니다)에는 적용되지 않습니다.  <br>
                                        ③ 회사는 통신비밀보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률
                                           등 관계법령에 따라 행정기관이나 수사기관 등에서 회원의 회원정보의 열람이나
                                           제출을 요청하는 경우에는 이를 제공할 수 있습니다.     <br>
                                        ④ 회사는 회원의 귀책사유로 인해 노출된 회원정보에 대해서 일체의 책임을
                                           부담하지 않습니다.   <br>
                                        ⑤ 회사는 회원정보의 취급 및 관리 등의 업무를 스스로 수행함을 원칙으로 하나,
                                           필요한 경우 이러한 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수
                                           있으며, 회원정보의 취급 및 관리 등에 관한 업무를 위탁하는 경우에는 개인
                                           정보 취급방침을 통하여 공지합니다.  <br>
                                        ⑥ 회원이 이용계약 체결과정에서 회사에 제공한 회원정보에 대한 이용 또는
                                           제공에 대한 동의를 철회하고자 하는 경우에는 개인정보취급방침에서 정한 바에
                                           따르며, 회원이 이러한 동의를 철회하는 경우 서비스 이용계약은 자동으로 해지
                                           됩니다.     <br>    <br>

                                        <h4>제 15조 ( 계약해지 및 이용제한 )</h4>
                                        ① 회원이 서비스 이용계약을 해지하고자 할 경우에는 서비스를 제공하는 홈페이지
                                           또는 어플리케이션에서 해지 신청을 하여야 합니다.  <br>
                                           홈페이지나 어플리케이션을 통해 계약 해지가 불가능한 경우에는 회원이 회사가
                                           제공하는 서비스 페이지 또는 전자우편 등의 방법으로 회사에 중지신청을 할 수
                                           있습니다. 회사는 이와 같은 요청을 받았을 경우, 회사가 별도로 고지한 방법에
                                           따라 신속하게 처리합니다.   <br>
                                        ② 회원이 이용계약을 해지하는 경우 제12조 제5항 단서에 따라 회원 자신의 개인
                                           페이지에 있는 게시물만 삭제됩니다.  <br>
                                        ③ 회사는 회원이 본 약관 및 개별서비스 이용약관을 위반한 경우 및 서비스의
                                           정상적인 운영을 방해한 경우에는 경고, 일시적 이용정지, 영구적 이용정지 등의
                                           단계로 서비스 이용을 제한하거나 이용계약을 해지할 수 있습니다.  <br>
                                        ④ 회원은 본 조 제3항에 따른 서비스 이용정지 기타 서비스 이용과 관련된 이용
                                           제한에 대해 관리자에게 E-mail을 통해 이의신청을 할 수 있으며, 회사는 회원의
                                           이의신청이 정당하다고 판단되는 경우 즉시 서비스 이용을 재개합니다.    <br>
                                        ⑤ 회사는 회원이 계속해서 3개월 이상 로그인하지 않는 경우, 회원정보의 보호 및
                                           운영의 효율성을 위해 이용을 제한할 수 있습니다.  <br>    <br>    <br>



                                        <h4>제 16조 ( 손해배상 )</h4>
                                        ① 회원이 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는
                                           경우 본 약관을 위반한 회원은 회사에 발생하는 모든 손해를 배상하여야
                                           합니다.     <br>
                                        ② 회원이 서비스를 이용하는 과정에서 행한 불법행위나 본 약관 위반행위로
                                           인하여 회사가 당해 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯
                                           한 각종 이의제기를 받는 경우 당해 회원은 자신의 책임과 비용으로 회사를
                                           면책 시켜야 하며, 회사가 면책되지 못한 경우 당해 회원은 그로 인하여 회사에
                                           발생한 모든 손해를 배상하여야 합니다.    <br>    <br>

                                        <h4>제 17조 ( 면책사항 )</h4>
                                        ① 회사는 천재지변, 디도스(DDOS)공격, IDC장애, 기간통신사업자의 회선 장애 또는
                                           이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스
                                           제공에 관한 책임이 면책됩니다.    <br>
                                        ② 회사는 회원의 귀책사유로 인한 서비스의 이용 장애에 대하여 책임을지지
                                           않습니다.    <br>
                                        ③ 회사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을
                                           지지 않으며 그 밖에 서비스를 통하여 얻은 자료로 인한 손해 등에 대하여도
                                           책임을 지지 않습니다. 회사는 회원이 사이트에 게재한 게시물의 정확성 등
                                           내용에 대하여는 책임을 지지 않습니다.    <br>
                                        ④ 회사는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 발생한
                                           분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도
                                           없습니다.    <br>
                                        ⑤ 회원이 자신의 개인정보를 타인에게 유출 또는 제공함으로써, 발생하는 피해에
                                          대해서 회사는 일절 책임을 지지 않습니다.   <br>
                                        ⑥ 게시물 또는 댓글 등을 통해 표현하거나 드러나는 회원의 견해와 회사의 견해는
                                           무관하며, 회사는 회원이 제공하는 게시물 또는 댓글 등에 대하여 어떠한 책임
                                           도 부담하지 아니합니다.    <br>    <br>

                                        ⑦ 본 서비스 화면에서 링크, 배너 등을 통하여 연결된 회사(이하 피연결회사)와
                                           회원간에 이루어진 거래에 회사는 개입하지 않으며, 해당 거래에 대하여 책임을
                                           지지 않습니다.     <br>
                                        ⑧ 회사는 회원의 게시물을 등록 전에 사전심사 하거나 상시적으로 게시물의
                                           내용을 확인 또는 검토하여야 할 의무가 없으며, 그 결과에 대한 책임을지지
                                           않습니다.    <br>
                                        ⑨ 회사는 회원의 컴퓨터 환경이나 회사의 관리 범위에 있지 아니한 보안 문제로
                                           인하여 발생하는 제반 문제 또는 현재의 보안기술 수준으로 방어가 곤란한
                                           네트워크 해킹 등 회사의 귀책사유 없이 발생하는 문제에 대해서 책임을지지
                                           않습니다.    <br>    <br>

                                        <h4>제 18조 ( 분쟁 조정 및 관할법원 )</h4>
                                        ① 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 회사와
                                           회원은 분쟁의 해결을 위해 성실히 협의합니다.    <br>
                                        ② 본 조 제1항의 협의에서도 분쟁이 해결되지 않을 경우 양 당사자는 민사소송법
                                           상의 관할법원에 소를 제기할 수 있습니다.  <br>
                                        ③ 회사와 이용자간에 제기된 소송에는 대한민국 법을 적용합니다.     <br>
                                        ④ 본 약관은 한글로 작성되었습니다. 본 약관의 번역본이 한글 원문과 차이가
                                           있을 경우 한글 원문이 우선합니다.  <br>
                                        ⑤ 본 조 제1항의 협의에서도 분쟁이 해결되지 않아 소송이 제기되는 경우에는
                                           “회사”의 본사 소재지를 관할하는 법원을 전속 관할법원으로 합니다.    <br>    <br>

                                        <h4>제 19조 ( 서비스 이용료 )</h4>
                                        회사는 회원 간의 자유로운 전자상거래에 있어서 필요로 하는 각종 서비스를 제공
                                        하고 회사의 내부 정책에 따라 그에 대한 이용료(서비스 이용료)를 부과할 수 있습니다.    <br>    <br>    <br>


                                        <h4>제 20조 기타조항 </h4>    <br>

                                        ① 회사는 필요한 경우 특정 서비스(혹은 그 일부)를 회사 홈페이지를 통하여 미리
                                           공지한 후, 일시적 또는 영구적으로 수정하거나 중단할 수 있습니다.    <br>    <br>

                                        ② 회사와 회원은 상대방의 명백한 동의 없이 이 약관상의 권리와 의무를 제3자에
                                           게 양도 할 수 없습니다.   <br>    <br>

                                        ③ 이 약관과 관련하여 당사자 간의 합의에 의하 여 추가로 작성된 계약서, 협정서,
                                          통보서 등과 회사의 정책변경, 법령의 제정.개정 또는 공공기관의 고시.지침 등에
                                          의하여 회사가 쿠폰차트를 통해 회원에게 공지하는 내용도 본 약관의 일부를
                                          구성 합니다.   <br>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="terms-text-div"> <input type="checkbox" id="terms-agree-1">홈디 서비스 이용 약관에 동의합니다. </div>
                <div class="terms-div">
                    <table class="table">
                        <tr>
                            <th> <h3>개인정보 수집 이용 동의사항</h3> </th>
                        </tr>
                        <tr>
                            <td>
                              <table class="inner-table">
                                <tr>
                                  <td>목적</td>
                                  <td>항목</td>
                                  <td>기간</td>
                                </tr>
                                <tr>
                                  <td>이용자 식별</td>
                                  <td>서비스 이용자의 정보 (이름, 나이, 휴대폰 번호, 성별, 직업)</td>
                                  <td>서비스 제공 완료 후 1년</td>
                                </tr>
                                <tr>
                                  <td>홈스타일링을 위한 정보</td>
                                  <td>홈스타일링 공간 정보 (주소, 공사 유무, 거주 유무, 예산안)</td>
                                  <td>서비스 제공 완료 후 1년</td>
                                </tr>
                                <tr>
                                  <td>마케팅을 위한 정보</td>
                                  <td>유입 경로, 직업</td>
                                  <td>서비스 제공 완료 후 1년</td>
                                </tr>
                              </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="terms-text-div"><input type="checkbox" id="terms-agree-2">개인정보 수집 이용 동의사항에 동의합니다.</div>
              </div>

            </div>
        </div>
        <!-- 주거 유무 선택 -->
        <div id="apply-page-2" class="apply-page">
            <div class="apply-live-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">현재 살고 계신 집인가요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 3 / 16</p>
              </div>
              <div class="apply-live-container">
                <div class="apply-live-div" id="apply-live-now" name="notMove">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-live-img" src="/icon/doInterior/interiordo_2_residence.png">
                  <p class="apply-live-div-p">살고있는 집이에요</p>
                </div>
                <div class="apply-live-div" id="apply-live-move" name="move">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-live-img" src="/icon/doInterior/interiordo_2_move.png">
                  <p class="apply-live-div-p">이사갈 예정이에요</p>
                </div>
              </div>
            </div>
        </div>
        <!-- 주거 형태 선택 -->
        <div id="apply-page-3" class="apply-page">
            <div class="apply-housing-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">꾸미는 공간은 어떤 형태인가요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 4 / 16</p>
              </div>
              <div class="apply-hosing-container">
                <div class="apply-housing-div" name="apt">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-housing-img" src="/icon/doInterior/interiordo_1_apt.png">
                  <p class="apply-housing-div-p">아파트</p>
                </div>
                <div class="apply-housing-div" name="billa">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-housing-img" src="/icon/doInterior/interiordo_1_billa.png">
                  <p class="apply-housing-div-p">빌라</p>
                </div>
                <div class="apply-housing-div" name="one">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-housing-img" src="/icon/doInterior/interiordo_1_oneroom.png">
                  <p class="apply-housing-div-p">오피스텔/원룸</p>
                </div>
                <div class="apply-housing-div" name="ownhouse">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-housing-img" src="/icon/doInterior/interiordo_1_ownhome.png">
                 <p class="apply-housing-div-p">개인주택</p>
                </div>
                <div class="apply-housing-div" name="other">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-housing-img" src="/icon/doInterior/interiordo_1_other.png">
                  <p class="apply-housing-div-p">기타</p>
                </div>
              </div>
            </div>
        </div>
        <!-- 시공 유무 -->
        <div id="apply-page-4" class="apply-page">
            <div class="apply-construction-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">어떤 식으로 꾸미실 예정인가요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 5 / 16</p>
              </div>
              <div class="apply-construction-container">
                <div class="apply-construction-div" name="noConstruction">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-construction-img" src="/icon/doInterior/interiordo_3_homestyling.png">
                  <p class="apply-construction-div-p">시공없이 홈스타일링만<br>진행하고 싶어요</p>
                </div>
                <div class="apply-construction-div" name="construction">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-construction-img" src="/icon/doInterior/interiordo_3_painting.png">
                  <p class="apply-construction-div-p">몰딩이나 벽지, 장판, 페인팅 등<br>간단한 시공이 필요해요</p>
                </div>
              </div>
            </div>
        </div>

        <!-- 홈스타일링 할 공간 선택 -->
        <div id="apply-page-5" class="apply-page">
            <div class="apply-space-page-conatiner">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">꾸미는 공간은 어느 공간인가요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 6 / 16</p>
              </div>
              <div  class="apply-space-conatiner">
                <div class="apply-space-div" name="living">
                  <div class="apply-space-img-div">
                    <img class="apply-space-img" src="/icon/doInterior/interiordo_4_living.png">
                    <p class="apply-space-img-p">거실</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="bed">
                  <div class="apply-space-img-div">
                   <img class="apply-space-img" src="/icon/doInterior/interiordo_4_bedroom.png">
                    <p class="apply-space-img-p">침실</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="bath">
                  <div class="apply-space-img-div">
                    <img class="apply-space-img" src="/icon/doInterior/interiordo_4_bathroom.png">
                    <p class="apply-space-img-p">화장실</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="other">
                  <div class="apply-space-img-div">
                    <img class="apply-space-img" src="/icon/doInterior/interiordo_4_other.png">
                    <p class="apply-space-img-p">기타(베란다,서재)</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="kitchen">
                  <div class="apply-space-img-div">
                   <img class="apply-space-img" src="/icon/doInterior/interiordo_4_kitchen.png">
                    <p class="apply-space-img-p">주방</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="kids">
                  <div class="apply-space-img-div">
                    <img class="apply-space-img" src="/icon/doInterior/interiordo_4_kidsroom.png">
                    <p class="apply-space-img-p">아이방</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="dress">
                  <div class="apply-space-img-div">
                    <img class="apply-space-img" src="/icon/doInterior/interiordo_4_dressroom.png">
                    <p class="apply-space-img-p">드레스룸</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
                <div class="apply-space-div" name="unknown">
                  <div class="apply-space-img-div">
                    <img class="apply-space-img" src="/icon/doInterior/interiordo_4_unknow.png">
                    <p class="apply-space-img-p">잘 모르겠어요</p>
                  </div>
                  <div class="apply-space-select-div">
                    <div class="apply-space-select-down">&#10094;</div>
                    <div class="apply-space-select-number">0</div>
                    <div class="apply-space-select-up">&#10095;</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- 컨셉 선택(색상) -->
        <div id="apply-page-6" class="apply-page">
            <div class="apply-concept-color-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p">당신의 스타일을 찾아드려요!</p>
                <p class="apply-apge-title-p">어떤 색상 조합이 마음에 드시나요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 7 / 16</p>
              </div>
              <div class="apply-concept-color-container">
                <div class="apply-concept-color-div" name="white grey black">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-color-img" src="/icon/doInterior/interiordo_5_1.png">
                </div>
                <div class="apply-concept-color-div" name="white skin brown">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-color-img" src="/icon/doInterior/interiordo_5-2.png">
                </div><br>
                <div class="apply-concept-color-div" name="grey black brown">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-color-img" src="/icon/doInterior/interiordo_5_3.png">
                </div>
                <div class="apply-concept-color-div" name="skin beige pink">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-color-img" src="/icon/doInterior/interiordo_5_4.png">
                </div>
              </div>
            </div>
        </div>
        <!-- 패턴 -->
        <div id="apply-page-7" class="apply-page">
            <div class="apply-pattern-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p">당신의 스타일을 찾아드려요!</p>
                <p class="apply-apge-title-p">패턴은 어떤걸 선호하시나요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 8 / 16</p>
              </div>
              <div class="apply-pattern-container">
                <div class="apply-pattern-div" name="noPatern">
                  <div class="apply-pattern-text">
                    패턴은 별로에요
                  </div>
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-pattern-img" src="/icon/doInterior/interiordo_6_1.png">
                </div>
                <div class="apply-pattern-div" name="doNotCare">
                  <div class="apply-pattern-text">
                    상관없어요
                  </div>
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-pattern-img" src="/icon/doInterior/interiordo_6_2.png">
                </div>
                <div class="apply-pattern-div" name="patern">
                  <div class="apply-pattern-text">
                    좋아요
                  </div>
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-pattern-img" src="/icon/doInterior/interiordo_6_3.png">
                </div>
              </div>
            </div>
        </div>
        <!-- 가구 -->
        <div id="apply-page-8" class="apply-page">
            <div class="apply-furniture-page-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p">당신의 스타일을 찾아드려요!</p>
                <p class="apply-apge-title-p">어떤 스타일의 가구가 마음에 드세요?</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 9 / 16</p>
              </div>
              <div class="apply-furniture-container">
                <div class="apply-furniture-div" name="1">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-furniture-img" src="/icon/doInterior/interiordo_7_1.png">
                </div>
                <div class="apply-furniture-div" name="2">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-furniture-img" src="/icon/doInterior/interiordo_7_2.png">
                </div>
                <div class="apply-furniture-div" name="3">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-furniture-img" src="/icon/doInterior/interiordo_7_3.png">
                </div>
                <div class="apply-furniture-div" name="4">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-furniture-img" src="/icon/doInterior/interiordo_7_4.png">
                </div>
                <div class="apply-furniture-div" name="5">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-furniture-img" src="/icon/doInterior/interiordo_7_5.png">
                </div>
                <div class="apply-furniture-div" name="6">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-furniture-img" src="/icon/doInterior/interiordo_7_6.png">
                </div>
              </div>
            </div>
        </div>
        <!-- 컨셉 퀴즈 사진 1-->
        <div id="apply-page-9" class="apply-page">
            <div class="apply-concept-img-page-conatiner-1 apply-concept-img-page-conatiner">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p">당신의 스타일을 찾아드려요!</p>
                <p class="apply-apge-title-p">마음에 드는 인테리어 사진을 선택해주세요</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 10 / 16</p>
              </div>

              <div class="apply-concept-img-conatiner-1 apply-concept-img-conatiner">
                <div class="apply-concept-img-div" name="1">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/natural_1.jpg">
                </div>
                <div class="apply-concept-img-div" name="2">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/scan_1.jpg">
                </div>
                <div class="apply-concept-img-div" name="3">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/classic_1.jpg">
                </div>
                <div class="apply-concept-img-div" name="4">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/modern_1.jpg">
                </div>
                <div class="apply-concept-img-div" name="5">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/vintage_1.jpg">
                </div>
                <div class="apply-concept-img-div" name="6">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/provence_1.jpg">
                </div>
              </div>
            </div>
        </div>
        <!-- 컨셉 퀴즈 사진 2-->
        <div id="apply-page-10" class="apply-page">
            <div class="apply-concept-img-page-conatiner-2 apply-concept-img-page-conatiner">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p">당신의 스타일을 찾아드려요!</p>
                <p class="apply-apge-title-p">마음에 드는 인테리어 사진을 선택해주세요</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 11 / 16</p>
              </div>
              <div class="apply-concept-img-conatiner-2 apply-concept-img-conatiner">
                <div class="apply-concept-img-div" name="1">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/modern_2.jpg">
                </div>
                <div class="apply-concept-img-div" name="2">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/vintage_2.jpg">
                </div>
                <div class="apply-concept-img-div" name="3">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/provence_2.jpg">
                </div>
                <div class="apply-concept-img-div" name="4">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/natural_2.jpg">
                </div>
                <div class="apply-concept-img-div" name="5">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/scan_2.jpg">
                </div>
                <div class="apply-concept-img-div" name="6">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/classic_2.jpg">
                </div>
              </div>
            </div>
        </div>
        <!-- 컨셉 퀴즈 사진 3-->
        <div id="apply-page-11" class="apply-page">
            <div class="apply-concept-img-page-conatiner-3 apply-concept-img-page-conatiner">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p">당신의 스타일을 찾아드려요!</p>
                <p class="apply-apge-title-p">마음에 드는 인테리어 사진을 선택해주세요</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 12 / 16</p>
              </div>
              <div class="apply-concept-img-conatiner-3 apply-concept-img-conatiner">
                <div class="apply-concept-img-div" name="1">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/provence_3.jpg">
                </div>
                <div class="apply-concept-img-div" name="2">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/natural_3.jpg">
                </div>
                <div class="apply-concept-img-div" name="3">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/scan_3.jpg">
                </div>
                <div class="apply-concept-img-div" name="4">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/classic_3.jpg">
                </div>
                <div class="apply-concept-img-div" name="5">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/modern_3.jpg">
                </div>
                <div class="apply-concept-img-div" name="6">
                  <img class="apply-selected-check-box" src="/icon/doInterior/interiordo_check.png">
                  <img class="apply-concept-img" src="/conceptImages/selectImage/vintage_3.jpg">
                </div>
              </div>
            </div>
        </div>
        <!-- 결과 -->
        <div id="apply-page-12" class="apply-page">
        </div>
        <!-- 컨셉 선택 후 사진 -->
        <div id="apply-page-13" class="apply-page">
            <div class="apply-concept-select-img-conatiner">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">마음에 드는 사진을 선택해 주세요!</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 14/ 16</p>
              </div>
              <div class="apply-page-gird-container">
                <div class="grid">
                  <div class="grid-item ">

                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- 유저 정보 입력 -->
        <!-- Dropzone JS -->
        <div id="apply-page-14" class="apply-page">
            <div class="apply-user-info-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">사용자 정보를 입력해주세요</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 15 / 16</p>
              </div>
              <div class="apply-user-info-div">
                <div class="apply-user-info-inner-div">
                  <div class="apply-user-info-name-div user-info-width-1">
                    <p>이름</p>
                    <input class=user-name-input placeholder="" tabIndex="1">
                  </div>
                  <div class="apply-user-info-age-div user-info-width-1">
                    <p>나이</p>
                    <input class=user-age-input placeholder="" tabIndex="2">
                  </div>
                  <div class="apply-user-info-sex-div user-info-width-h">
                    <p>성별</p>
                    <select name="apply-user-sex" id="apply-user-sex" tabIndex="3">
                        <option value="man">남성</option>
                        <option value="woman">여성</option>
                    </select>
                  </div>
                  <div class="apply-user-info-funnel-div user-info-width-h">
                    <p>유입 경로</p>
                    <select name="funnel" id="funnel" tabIndex="4">
                        <option value="internet">인터넷검색</option>
                        <option value="cafe">카페</option>
                        <option value="bloge">블로그</option>
                        <option value="friend">지인</option>
                        <option value="etc">기타</option>
                    </select>
                  </div>
                  <div class="apply-user-info-job-div  user-info-width-1">
                    <p>직업</p>
                    <input class=user-job-input placeholder="" tabIndex="5">
                  </div>
                  <div class="apply-user-info-mail-div  user-info-width-2">
                    <p>메일</p>
                    <input class=user-mail-input placeholder="" tabIndex="6">
                  </div>
                  <div class="apply-user-info-address-div user-info-width-2">
                    <p>홈스타일링 공간 주소</p>
                    <input type="text" id="postcode" placeholder=" 우편번호">
                    <input type="button" id="postcodeBtn" onclick="execDaumPostcode()" value="우편번호 찾기" tabIndex="7"><br>
                    <input type="hidden" id="roadAddress" placeholder=" 도로명주소" >
                    <input type="text" id="jibunAddress" placeholder=" 지번주소">
                    <input type="text" id="extraAdress" placeholder=" 나머지 주소" tabIndex="8">
                    <!-- <input class=user-address-input placeholder=" ex) 서울특별시 강남구 대치동 889-13 금강타워 15층 the works, 3D ONE" tabIndex="5"> -->
                  </div>
                  <div class="apply-user-info-phone-div user-info-width-1">
                    <p>연락처</p>
                    <input class=user-phone-input placeholder=" 010-xxxx-xxxx" tabIndex="9">
                  </div>
                  <div class="apply-user-info-bill-div user-info-width-1">
                    <p>예산안</p>
                    <input class=user-bill-input placeholder=" 400만원정도" tabIndex="10">
                  </div>
                  <div class="apply-user-info-phoneTime-div user-info-width-2">
                    <p>희망 전화 시간</p>
                    <input class=user-phoneTime-input placeholder=" 11시~13시 사이에 전화 주세요!" tabIndex="11">
                  </div>
<!--
                  <div class="apply-user-info-userUpload-div user-info-width-2">

                  </div> -->
                  <div class="apply-user-info-message-div  user-info-width-2">
                    <p>메시지</p>
                    <textarea class=message-textarea tabIndex="12"></textarea>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- 서비스 정보, 방 정보, 가격, 컨셉, 유저 입력 정보 -->
        <div id="apply-page-15" class="apply-page">
            <div class="apply-user-info-confirm-container">
              <div class="apply-page-title">
                <p class="apply-apge-title-small-p"></p>
                <p class="apply-apge-title-p">신청 정보를 확인해 주세요</p>
                <div class="apply-page-title-bar"></div>
                <p class="apply-apge-title-small-p"> 16 / 16</p>
              </div>
              <div class="apply-user-info-confirm-div">
                <div class="apply-user-info-confrim-inner-div">
                 <div class="apply-user-info-left-div">
                   <div class="apply-user-info-service-confirm-div apply-user-info-confirm-input-div">
                     <p>신청 프로세스</p>
                     <div class="apply-user-info-confrim-box"  id="apply-user-info-confirm-service-div"><div></div></div>
                   </div>
                   <div class="apply-user-info-room-confirm-div apply-user-info-confirm-input-div">
                    <p>공간 정보</p>
                    <div class="apply-user-info-confrim-box" id="apply-user-info-confirm-room-div"><div></div></div>
                   </div>
                   <div class="apply-user-info-concept-confirm-div apply-user-info-confirm-input-div">
                      <p>컨셉 정보</p>
                      <div  class="apply-user-info-confrim-box" id="apply-user-info-confirm-concept-div"><div></div></div>
                   </div>
                 </div>
                 <div class="apply-user-info-right-div">
                  <div class="apply-user-info-private-confirm-div apply-user-info-confirm-input-div">
                     <p>신청 정보</p>
                     <div>
                      <div id="apply-user-info-private-confirm-box">

                      </div>
                     </div>
                  </div>
                  <div class="apply-user-info-price-confirm-div apply-user-info-confirm-input-div">
                     <p>디자인 가격</p>
                     <div  class="apply-user-info-confrim-box" id="apply-user-info-confirm-price-div">
                      <div></div>
                     </div>
                  </div>
                 </div>
                 <div class="apply-user-info-center-bar">
                 </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div id="apply-bottom-nav">
    <div class="apply-bottom-btn-div">
      <p class="apply-bottom-div-text">선택하고 다음을 눌러주세요</p>
        <div class="apply-prev-page">
            <p class="appply-btn-p">이전</p>
        </div>
        <div class="apply-next-page hidden-page-15">
            <p class="appply-btn-p">다음</p>
        </div>
        <div class="apply-next-page visible-page-15">
          <p class="appply-btn-p">신청하기</p>
        </div>
    </div>
</div>

<!--<![endif]-->

</body>
<!--[if lte IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/homepage_v2/ie/nav.js"></script>
<![endif]-->
<!--[if (gt IE 9) | (!IE)]><!-->
  <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-migrate-3.0.0.min.js"></script>
      <script type="text/javascript" src="/javascripts/homepage_v2/nav.js"></script>
  <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
  <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="/javascripts/homepage_v2/apply.js"></script>
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
<script type="text/javascript"> if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "1204a4e04016f90";
    wcs_do(); </script>
