<!DOCTYPE html>
<html lang=ko>
<head>
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
          name=viewport>
    <!-- <base href="http://www.homed.co.kr/main"> -->
    <meta name="description" content="국내 최초 온라인 홈스타일링 인테리어 서비스 - 소비자 맞춤 디자인 · 예산선 제품 추천 · 구매, 배송 대행까지!">
    <meta name="subject" content="홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="abstract" content="세상에서 가장 쉬운 홈스타일링 인테리어">
    <meta name="topic" content="홈스타일링, 인테리어, interior, homestyling, 셀프 인테리어, self interior">
    <!-- Full domain name or web address -->
    <!-- <meta name="url" content="http://www.homed.co.kr/"> -->
    <meta name="category" content="홈스타일링,인테리어,홈데코,홈드레싱,셀프인테리어,homestyling,interior,homedeco,homedressing,selfinterior">
    <meta name="keywords" content="홈스타일링,인테리어,홈데코,홈드레싱,셀프인테리어,homestyling,interior,homedeco,homedressing,selfinterior"
          `>
    <title>홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D</title>
    <link href=/icon/home.d_logo1_96x96.png rel=icon>
    <meta content=article property=og:type>
    <meta content=/icon/home.d_logo2_192x192.png property=og:image>
    <meta content=/icon/home.d_logo2_192x192.png name=twitter:image>
    <!-- 오픈 그래프 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D">
    <meta property="og:image" content=/icon/home.d_logo2_192x192.png>
    <meta property="og:url" content="http://www.homed.co.kr">
    <meta property="og:description" content="국내 최초 온라인 홈스타일링 인테리어 서비스 - 소비자 맞춤 디자인 · 예산선 제품 추천 · 구매, 배송 대행까지!"/>

    <link rel="canonical" href="http://www.homed.co.kr">
    <!--[if lte IE 9]>
      <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/ie/main.css">
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->
    <!--[if (gt IE 9) | (!IE)]><!-->
      <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/main.css">
    <!--<![endif]-->
      <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_v2/style.css">
    <!-- Hotjar Tracking Code for http://www.homed.co.kr -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:262210,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1737237109865339');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1737237109865339&ev=PageView&noscript=1"
                /></noscript>
    <!-- End Facebook Pixel Code -->
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-78690067-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81486844-1', 'auto');
      ga('send', 'pageview');

    </script>
<body>
<div class="clearfix" id="navbar" style="background-color : rgba(0, 0, 0,0.3)">
    <div class="navbar-logo-div">
        <div class="navbar-logo-md"><a href="http://www.homed.co.kr"><img class="homed-logo-md homed-logo-change-class" src=/icon/logo_white.png alt="홈디 로고"></a>
        </div>
    </div>
    <div class="navbar-doInterior-div">
        <a href="#main-homed-price">
            <div class="doInterior-box-div hidden-xs"><p class="doInterior-box-div-text" style="color:white">집 꾸미러 가기</p> <div class="nav-triangle" style="border-color: transparent transparent transparent white"></div></div>
        </a>
    </div>
    <div class="navbar-menu-div">
        <ul class="hidden-xs">
            <li><a href="/portpolio" style="text-decoration:none;color:white">포트폴리오</a></li>
            <li><a href="/question/faq" style="text-decoration:none;color:white">자주하는 질문</a></li>
            <li><a href="http://blog.naver.com/3d1_one" target="_blank" style="text-decoration:none;color:white">블로그</a></li>
        </ul>
        <div class="navbar-logo-xs visible-xs"><img class="slide-btn-xs" src="/icon/slide_btn.png"></div>
    </div>
</div>
<!--[if (gt IE 9) | (!IE)]><!-->

<div id="cover-screen">

</div>
<div id="navbar-aside-slide-xs">

          <div class="aside-menu-title">
              <a href="http://www.homed.co.kr"><p>집꾸미기가 즐겁다!</p></a>
              <img class="aside-menu-exit" src="/icon/exit_btn.png">
          </div>

          <a href="/portpolio"><div class="aside-menu-div">
             포트폴리오 <div class="aside-triangle"></div>
          </div></a>
          <a href="/question/faq"><div class="aside-menu-div">
             자주하는 질문 <div class="aside-triangle"></div>
          </div></a>
          <a href="http://blog.naver.com/3d1_one" target="_blank"><div class="aside-menu-div">
             블로그 <div class="aside-triangle"></div>
          </div></a>
          <a href="#main-homed-price"><div class="aside-menu-div aside-menu-dointerior">
             집꾸미러가기 <div class="aside-triangle"></div>
          </div></a>
      <div class="aside-menu-contact-us">
          <p>문의하기</p>
          <font>전화</font> <br> 070-5118-3772 <br><br>
          <font>카카오톡 아이디</font> <br> 홈디homed <br><br>
          <font>메일</font> <br> comengineer12@homed.co.kr<br>
      </div>
</div>
<!--<![endif]-->

<div id="main-container-div">
    <div id="main-silde-div">
      <div class="main-carousel-bg-div">
          <div class="main-carousel-fg-div">
              <p class="main-carousel-fg-small-p">집꾸미기</p>
              <div class="main-carousel-fg-yellow-line"></div>
              <p class="main-carousel-fg-main-p">쉽다</p>
              <div class="main-carousel-fg-btn-div">
                <a href="#main-homed-price">
                    <div class="main-carousel-fg-btn"><font>집꾸미러 가기</font> <div class="main-carousel-triangle"></div></div>
                  </a>
              </div>
          </div>
          <div class="main-slide-down-btn">
          </div>
      </div>
    </div>
    <div id="main-homed-service">
      <div class="main-homed-service-text">홈디와 함께하면 집 꾸미기가 즐겁다!</div>
      <div class="main-homed-service-divs">
        <div class="main-homed-service-div main-homed-service-div-1">
          <p class="main-service-div-title">쉽고!</p>
          <div class="main-homed-service-line"></div>
          <p class="main-service-div-text">막막했던 디자인!</p>
          <p class="main-service-div-text">힘들었던 제품 고르기!</p>
          <p class="main-service-div-text">복잡한 제품 구매!</p>
          <p class="main-service-div-text">이 세가지를 홈디에서 다 해드려요!</p>
        </div>
        <div class="main-homed-service-div main-homed-service-div-2">
          <p class="main-service-div-title">즐겁고!</p>
          <div class="main-homed-service-line"></div>
          <p class="main-service-div-text">여행, 일, 휴식, 육아 등 바쁜 일상</p>
          <p class="main-service-div-text">나의 라이프 스타일은 문제 될게 없다!</p>
          <p class="main-service-div-text">언제 어디서든 홈디에게 이야기하고</p>
          <p class="main-service-div-text">선택만 하세요!</p>
        </div>
        <div class="main-homed-service-div main-homed-service-div-3">
          <p class="main-service-div-title">싸다!</p>
          <div class="main-homed-service-line"></div>
          <p class="main-service-div-text">모든 서비스가 평수 상관없이</p>
          <p class="main-service-div-text">공간당 199,000원!</p>
          <p class="main-service-div-text">온라인 시스템과 불필요한</p>
          <p class="main-service-div-text">과정을 없앴어요!</p>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>
    <div id="main-homed-flow">
      <div class="main-section-title">
        <div class="main-section-orange-bar">
        </div>
        <div class="main-section-text-div">홈디와 함께하는 세상에서 가장 <br class="visible-xs">쉬운 집꾸미는 방법</div>
      </div>
      <div class="main-homed-flow-div clearfix">
        <div class="main-homed-flow-step-1 main-homed-flow-step-div clearfix">
          <div class="main-homed-flow-step-img-div main-homed-flow-step-left-div clearfix"><img class="main-homed-flow-step-img" src="/images/main_step_img/service_1.png"></div>
          <div class="main-homed-flow-step-text-div main-homed-flow-step-right-div clearfix">
            <div class="main-homed-flow-step-text-container clearfix">
              <p class="main-homed-flow-step-text-title"><img class="main-homed-flow-step-title-img" src="/images/main_intro/process_one.png"></p>
              <p class="main-homed-flow-step-text-title">당신이 원하는 스타일을 찾아보세요!</p>
              <p class="main-homed-flow-step-text-normal">홈디맨의 온라인 설문을 통해 내가 원하는 스타일을 찾아 신청하세요.</p>
               <p class="main-homed-flow-step-text-normal">24시간 이내에 홈디에서 고객님에게 연락을 드립니다.</p>
              <p class="main-homed-flow-step-text-normal">( 서울/경기에 한하여 홈디맨이 방문하여 실측 및 상담을 진행합니다. 지방은 100% 온라인 진행 )</p>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="main-homed-flow-step-2 main-homed-flow-step-div">
          <div class="main-homed-flow-step-text-div main-homed-flow-step-left-div">
            <div class="main-homed-flow-step-text-container">
              <p class="main-homed-flow-step-text-title"><img class="main-homed-flow-step-title-img" src="/images/main_intro/process_two.png"></p>
              <p class="main-homed-flow-step-text-title">당신이 희망하는 공간을 꾸며줄 디자이너를 찾아드려요!</p>
              <p class="main-homed-flow-step-text-normal">신청 정보와 공간 실측을 바탕으로 가장 적합한 디자이너로</p>
              <p class="main-homed-flow-step-text-normal">매칭시켜드려요. 매칭 된 디자이너가 직접 연락을 드리고,</p>
              <p class="main-homed-flow-step-text-normal">온라인으로 함께 컨셉을 잡아드려요.</p>
              <p class="main-homed-flow-step-text-normal">(오프라인 신청 시, 추가 비용 발생)</p>
            </div>
          </div>
          <div class="main-homed-flow-step-img-div main-homed-flow-step-right-div"><img class="main-homed-flow-step-img" src="/images/main_step_img/service_2.png"></div>
        </div>
        <div class="main-homed-flow-step-3 main-homed-flow-step-div">
          <div class="main-homed-flow-step-img-div main-homed-flow-step-left-div"><img class="main-homed-flow-step-img" src="/images/main_step_img/service_3.png"></div>
          <div class="main-homed-flow-step-text-div main-homed-flow-step-right-div">
            <div class="main-homed-flow-step-text-container">
              <p class="main-homed-flow-step-text-title"><img class="main-homed-flow-step-title-img" src="/images/main_intro/process_three.png"></p>
              <p class="main-homed-flow-step-text-title">변화될 당신의 공간을 미리 경험해보세요!</p>
              <p class="main-homed-flow-step-text-normal">디자이너가 고객 정보와 미팅 내용을 바탕으로 디자인 2개를 제안해 드려요.</p>
             <p class="main-homed-flow-step-text-normal">수정이 필요하면 규정 범위 내 수정해 드리고, 디자인이 완성 되면</p>
             <p class="main-homed-flow-step-text-normal">공간 디자인, 제품 가격, 공간 배치도를 받아 볼 수 있어요.</p><br>
             <p class="main-homed-flow-step-text-normal">공간에 사용되는 제품은 디자인 적합성, 기존 공간 어울림, 기존 가구</p>
             <p class="main-homed-flow-step-text-normal">어울림을 기준으로 고객님의 예산에 맞춘 희망하는 제품으로 추천해 드려요.</p>
            </div>
          </div>
        </div>
        <div class="main-homed-flow-step-4 main-homed-flow-step-div">
          <div class="main-homed-flow-step-text-div main-homed-flow-step-left-div">
            <div class="main-homed-flow-step-text-container">
              <p class="main-homed-flow-step-text-title"><img class="main-homed-flow-step-title-img" src="/images/main_intro/process_four.png"></p>
              <p class="main-homed-flow-step-text-title">제품 구매와 배송 !</p>
              <p class="main-homed-flow-step-text-normal">최종 완성된 디자인의 제품을 구매하여 드립니다.</p>
            </div>
          </div>
          <div class="main-homed-flow-step-img-div main-homed-flow-step-right-div"><img class="main-homed-flow-step-img" src="/images/main_step_img/service_4.png"></div>
        </div>
        <div class="main-homed-flow-step-5 main-homed-flow-step-div">
          <div class="main-homed-flow-step-img-div main-homed-flow-step-left-div"><img class="main-homed-flow-step-img" src="/images/main_step_img/service_5.png"></div>
          <div class="main-homed-flow-step-text-div main-homed-flow-step-right-div">
            <div class="main-homed-flow-step-text-container">
              <p class="main-homed-flow-step-text-title"><img class="main-homed-flow-step-title-img" src="/images/main_intro/process_five.png"></p>
              <p class="main-homed-flow-step-text-title">홈디맨 출동 서비스 !</p>
              <p class="main-homed-flow-step-text-normal"><b>프리미엄 서비스</b>에 한해 홈디맨과 디자이너가 직접 방문하여</p>
              <p class="main-homed-flow-step-text-normal">집을 공간 배치도에 맞게 꾸며드려요.</p>
              <p class="main-homed-flow-step-text-normal">간단한 시공 ( 몰딩, 벽지, 장판 )감리도 진행해 드려요.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-homed-price">
      <div class="main-homed-pirce-table">
        <div class="price-table-main">
          <div class="price-table-main-row price-table-main-title">
            <div class="price-table-row-div-1 price-table-row-div"></div>
            <div class="price-table-row-div-2 price-table-row-div">
              <p class="price-table-title-p">홈디 베이직</p>
              <div class="price-table-title-line color-yellow"></div>
            </div>
            <div class="price-table-row-div-3 price-table-row-div">
              <p class="price-table-title-p">홈디 프리미엄</p>
              <div class="price-table-title-line color-blue"></div>
            </div>
          </div>
          <div class="price-table-main-row price-table-main-price table-bottom-line">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">가격 / 공간</p></div>
            <div class="price-table-row-div-2 price-table-row-div"><p class="price-table-price-info-p"><b>199,000원</b> / 방1개</p></div>
            <div class="price-table-row-div-3 price-table-row-div"><p class="price-table-price-info-p"><b>499,000원</b> / 방1개</p></div>
          </div>
          <div class="price-table-main-row price-table-main-design table-bottom-line">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">디자인 제공</p></div>
            <div class="price-table-row-div-2 price-table-row-div">
              <div class="price-talbe-check-img-div"><img src="/images/button/main_basic_check.png" class="price-table-check-img"></div>
            </div>
            <div class="price-table-row-div-3 price-table-row-div">
              <div class="price-talbe-check-img-div">
                <img src="/images/button/main_premium_check.png" class="price-table-check-img">
              </div>
            </div>
          </div>

          <div class="price-table-main-row price-table-main-offline">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">디자이너와 미팅</p></div>
            <div class="price-table-row-div-2 price-table-row-div"><p class="price-table-main-text price-table-margin-p">온라인 진행</p></div>
            <div class="price-table-row-div-3 price-table-row-div">
              <p class="price-table-main-text price-table-margin-p">오프라인 진행</p>
            </div>
          </div>
          <div class="price-table-main-row price-table-main-measured table-bottom-line">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">방문 실측(공간)</p></div>
            <div class="price-table-row-div-2 price-table-row-div"><p class="price-table-main-text price-table-margin-p">홈디맨 방문</p>
            </div>
            <div class="price-table-row-div-3 price-table-row-div"><p class="price-table-main-text price-table-margin-p">디자이너 + 홈디맨 방문</p>
            </div>
          </div>
          <div class="price-table-main-row price-table-main-layout table-bottom-line">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">배치도 제공</p>
            </div>
            <div class="price-table-row-div-2 price-table-row-div" >
              <div class="price-talbe-check-img-div">
                <img src="/images/button/main_basic_check.png" class="price-table-check-img">
              </div>
            </div>
            <div class="price-table-row-div-3 price-table-row-div">
              <div class="price-talbe-check-img-div">
                <img src="/images/button/main_premium_check.png" class="price-table-check-img">
              </div>
            </div>
          </div>
          <div class="price-table-main-row price-table-main-buy">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">제품 구매 대행</p></div>
            <div class="price-table-row-div-2 price-table-row-div">
              <div class="price-talbe-check-img-div">
                <img src="/images/button/main_basic_check.png" class="price-table-check-img">
              </div>
            </div>
            <div class="price-table-row-div-3 price-table-row-div">
              <div class="price-talbe-check-img-div"><img src="/images/button/main_premium_check.png" class="price-table-check-img">
              </div>
            </div>
          </div>
          <div class="price-table-main-row price-table-main-delivery">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">제품 배송</p></div>
            <div class="price-table-row-div-2 price-table-row-div">
              <div class="price-talbe-check-img-div">
                <img src="/images/button/main_basic_check.png" class="price-table-check-img">
              </div>
            </div>
            <div class="price-table-row-div-3 price-table-row-div">
              <div class="price-talbe-check-img-div">
                <img src="/images/button/main_premium_check.png" class="price-table-check-img">
              </div>
            </div>
          </div>
          <div class="price-table-main-row price-table-main-placement table-bottom-line">
            <div class="price-table-row-div-1 price-table-row-div"><p class="table-left-title">제품 배치</p></div>
            <div class="price-table-row-div-2 price-table-row-div"><p class="price-table-main-text price-table-margin-p">고객 셀프 <br class="visible-xs">홈스타일링 진행<p></div>
            <div class="price-table-row-div-3 price-table-row-div">
              <p class="price-table-main-text">홈디맨 + 디자이너 방문<br>최종 배치 및 정리</p>
            </div>
          </div>
          <div class="price-table-main-notice">
            <p class="p-font-size-small">**현재 서울/경기에 한하여 출장/방문 서비스 진행중입니다. 지방은 온라인으로 진행가능합니다.</p>
            <p class="p-font-size-small">**출장/방문 서비스가 필요한 프리미엄 서비스 또한 서울/경기에 한하여 진행가능합니다.</p>
          </div>
          <div class="price-table-main-row price-table-main-btn">
            <div class="price-table-row-div-1 price-table-row-div">
            </div>
            <div class="price-table-row-div-4 price-table-row-div">
              <a href="/dointerior/apply"><div class="price-table-btn"><p>집꾸미러 가기 <div class="price-table-triangle"></div></p>
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-homed-portpolio">
      <div class="homed-portpolio-color-label-div">
        <div class="homed-color-label">

        </div>
        <p class="portpolio-carousel-explanation-portpolio">홈디 스토리</p>

      </div>
      <div class="portpolio-carousel-cell">
        <div class="portpolio-carousel-cell-inner">
          <div class="portpolio-carousel-explanation-div">
            <div class="portpolio-carousel-explanation-text-div">
              <p class="portpolio-carousel-explanation-title"> 아빠와 함께 거주하고 있는 빌라 / 거실편</p>
              <p class="portpolio-carousel-explanation-title"> 가격 : 80만원</p>
              <p class="portpolio-carousel-explanation-title"> 기간 : 2 ~ 3주</p>
              <a href="/portpolio"><div class="portpolio-carousel-details-btn">
                <p class="portpolio-carousel-details-btn-p">자세히 보기</p>
              </div></a>
            </div>
            <div class="portpolio-carousel-explanation-img-div"><img class="portpolio-carousel-explanation-img" src="/images/homed_story/song/portfolio_conceptboard.png"></div>
          </div>
          <div class="portpolio-carousel-main-img-div">
            <img class="portpolio-carousel-main-img" src="/images/homed_story/song/portfolio_main.png">
          </div>
        </div>
      </div>
    </div>
    <div id="main-homed-wanted">
      <p class="main-homed-wanted-text"> 홈디와 함께하실 <br><font>디자이너/협력 업체</font>를 모집 합니다</p>
      <div class="main-homed-wanted-contact-div">
        <img class="main-homed-wanted-contact-img" src="/icon/question/question_phone.png"> &nbsp070.5118.3772 &nbsp&nbsp <img class="main-homed-wanted-contact-img" src="/icon/question/question_sns.png">&nbspKAKAO : 홈디HOMED</div>
    </div>
    <div id="main-homed-designer">
      <div class="main-section-title">
             <div class="main-section-orange-bar">
             </div>
             <div class="main-section-text-div">디자이너</div>
             <p>당신만을 위한 디자인을 해주는 <br class="visible-xs"> 디자이너들을 소개합니다.</p>
           </div>
      <div id="designer-silde-div">
          <div class="designer-carousel">
              <div class="designer-carousel-cell">
                <div class="designer-info-div">
                  <img class="designer-icon designer-icon1" src=/icon/main_designer/designer_hrabbit.png>
                  <div class="designer-info-text">
                    <p class="designer-name-p">Roomplat</p>
                    <p class="designer-info-text-p">
                      공간에 감성과 스타일을<br>
                      담다.
                    </p>
                  </div>
                </div>
              </div>
              <div class="designer-carousel-cell">
                <div class="designer-info-div">
                  <img class="designer-icon designer-icon2" src=/icon/main_designer/designer_jaceathome.png>
                  <div class="designer-info-text">
                    <p class="designer-name-p">제이스앳홈</p>
                    <p class="designer-info-text-p">
                      연구하고 생각합니다<br>
                      공간에 기쁜을 가져다주는<br>
                      디자이너
                    </p>
                  </div>
                </div>
              </div>
              <div class="designer-carousel-cell">
                <div class="designer-info-div">
                  <img class="designer-icon designer-icon3" src=/icon/main_designer/designer_yanghyoseung.png>
                  <div class="designer-info-text">
                    <p class="designer-name-p">2NEWAL</p>
                    <p class="designer-info-text-p">
                      SIMPLE함의, 매력적인<br>
                      공간
                    </p>
                  </div>
                </div>
              </div>
              <div class="designer-carousel-cell">
                <div class="designer-info-div">
                  <img class="designer-icon designer-icon3" src=/icon/main_designer/designer_zooshome.png>
                  <div class="designer-info-text">
                    <p class="designer-name-p">Zoo's Home</p>
                    <p class="designer-info-text-p">
                      꿈꾸는 집이 내 집이 된다.<br>
                      당신만의 라이프 스타일 리스트
                    </p>
                  </div>
                </div>
              </div>
              <div class="designer-carousel-cell">
                <div class="designer-info-div">
                  <img class="designer-icon designer-icon3" src=/icon/main_designer/sokimi_profile.png>
                  <div class="designer-info-text">
                    <p class="designer-name-p">Sokimi</p>
                    <p class="designer-info-text-p">
                      GOOD PLACE MAKES<br>
                      GOOD PEOPLE
                    </p>
                  </div>
                </div>
              </div>

          </div>
      </div>
    </div>
    <div id="main-homed-partners">
      <div class="main-homecd-patner-designer"></div>
      <div class="main-homecd-patner-company">
      </div>
    </div>
</div>
<footer class=footer>
    <div class=footer-container>
        <div class=footer-wrapper>
            <div class=footer-1>
                <div class=table-outer>
                    <div class=table-inner>
                        <div class=table-centered>
                            <div class=footer-text><p>회사 : 3D ONE

                                <p>대표 : 이형경

                                <p>사업자 등록번호 : 209-16-75133</div>
                        </div>
                    </div>
                </div>
            </div>
            <img class=footer-bar src=/icon/footer/bottom_line.png>

            <div class=footer-2>
                <div class=table-outer>
                    <div class=table-inner>
                        <div class=table-centered>
                            <div class=footer-text><p>이메일 문의 : comengineer12@homed.co.kr

                                <p>전화 문의 : 070-5118-3772

                                <p>주소 : 서울특별시 강남구 대치동 889-13 금강타워 15층 the works, 3D ONE</div>
                        </div>
                    </div>
                </div>
            </div>
            <img class=footer-bar src=/icon/footer/bottom_line.png>

            <div class=footer-3>
                <div class=table-outer>
                    <div class=table-inner>
                        <div class=table-centered>
                            <div class=footer-text><a href=/policy/Terms><p>이용약관</p></a>

                                <a href="/policy/Privacy"><p>개인정보취급방침</p></a><a href=/policy/Disclaimer><p>책임 정책</p></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <img class=footer-bar src=/icon/footer/bottom_line.png>

            <div class=footer-4>
                <div class=table-outer>
                    <div class=table-inner>
                        <div class=table-centered><!-- <a
                                          href="https://play.google.com/store/apps/details?id=kr.co.homed.homed"> --><img
                                    class=footer-icons src=/icon/footer/palystore_button_1.png><!-- </a> --><a
                                    href=https://www.instagram.com/home_interior_d/ ><img class=footer-icons src=/icon/footer/instagram_button.png></a><a
                                    href="https://www.facebook.com/HOMED-%ED%99%88%EB%94%94-1480460175582605/?fref=ts"><img
                                        class=footer-icons src=/icon/footer/facebook_button.png></a><a
                                    href=http://blog.naver.com/homed0303><img class=footer-icons
                                                                              src=/icon/footer/blog_button.png></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
<!--[if lte IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/homepage_v2/ie/main.js"></script>
  <script type="text/javascript" src="/javascripts/homepage_v2/ie/nav.js"></script>
<![endif]-->
<!--[if (gt IE 9) | (!IE)]><!-->
<script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-migrate-3.0.0.min.js"></script>
<script type="text/javascript" src="/javascripts/homepage_v2/main.js"></script>
<script type="text/javascript" src="/javascripts/homepage_v2/nav.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
<script type="text/javascript"> if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "1204a4e04016f90";
    wcs_do();
</script>
