<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="/v1/web/addGoods" method="post" enctype="multipart/form-data">
    	<h1>쇼핑몰 상품 추가</h1>
      <input type="submit" value="추가"> <br><br>
      비밀번호         :  <input type="password" name="pw" size="10"><br>
      쇼핑몰          :
      <select name="shopNo">
        <%results.forEach(function(data, index) {%>
          <option value="<%=data.SHOP_NO%>"><%=data.SHOP_NM%></option>
        <% });%>
      </select>
      <br><br>
        이름       :  <input type="text" name="goodsNm" size="10" maxlength="100">  <br>
        가격       :  <input type="text" name="goodsPrice" size="15" maxlength="20"> <br>
        url       :  <input type="text" name="goodsUrl"><br>
        사진       :  <input type="file" name="goodsImg"><br><br>

    </form>
  </body>
</html>