<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset=utf-8>
   <meta content="IE=edge" http-equiv=X-UA-Compatible>
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" name=viewport>
   <meta name="description" content="홈디 어드민">
   <meta name="subject" content="홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D">
   <!-- Full domain name or web address -->
   <meta name="url" content="http://www.homed.co.kr/">
   <title>홈디</title>
   <link href=/icon/home.d_logo1_96x96.png rel=icon>
   <meta content=/icon/home.d_logo2_192x192.png property=og:image>
   <link rel="stylesheet" type="text/css" href="/stylesheets/v1-page/v1-main.css">
   <link rel="stylesheet" type="text/css" href="/stylesheets/v1-page/v1-nav.css">
  </head>
  <body>
   <div class="homed">
    <h1><%= message %></h1>
    <form action "/v1/web" method="post" enctype="multipart/form-data">
      key1 : <input type="text" name="key1"> <br>
      key2 : <input type="password" name="key2" size="10"><br>
      <input type="submit" value="확인">
    </form>
   </div>
  </body>
</html>