<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action ="/v1/web/uploadSelectImg" method="post" enctype="multipart/form-data">
    	<h1>사진 업로드</h1>
      비밀번호         :  <input type="password" name="pw" size="10"><br>
      <%for(var i = 0; i< num; i++) {%>
      사진       :  <input type="file" name="img"><br>
      <%}%>
      <input type="submit" value="추가">
    </form>
  </body>
</html>