<!DOCTYPE html>
<html lang=ko>

     <!--[if lte IE 9]>
        <link href=/stylesheets/ie/nav-bar.css rel=stylesheet>
        <link href=/stylesheets/ie/style.css rel=stylesheet>
        <link href=/stylesheets/ie/doInterior.css rel=stylesheet>
        <script>
              document.createElement('header');
              document.createElement('nav');
              document.createElement('section');
              document.createElement('article');
              document.createElement('aside');
              document.createElement('footer');
           </script>
     <![endif]-->

     <!--[if (gt IE 9) | (!IE)]><!-->
        <link href=/stylesheets/nav-bar.css rel=stylesheet>
        <link href=/stylesheets/style.css rel=stylesheet>
        <link href=/stylesheets/doInterior.css rel=stylesheet>
    <!--<![endif]-->
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" name=viewport>
    <meta name="description" content="홈디를 통해 온라인 홈스타일링을 신청하세요!">
    <meta property="og:description" content="홈디를 통해 온라인 홈스타일링을 신청하세요!" />
    <meta name="subject" content="홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="abstract" content="세상에서 가장 쉬운 홈스타일링 인테리어">
    <meta name="topic" content="홈스타일링, 인테리어, interior, homestyling, 셀프 인테리어, self interior">
    <!-- Full domain name or web address -->
    <meta name="url" content="http://www.homed.co.kr/">
    <meta name="category" content="홈스타일링,인테리어,홈데코,홈드레싱,셀프인테리어,homestyling,interior,homedeco,homedressing,selfinterior">
    <meta name="keywords" content="홈스타일링,인테리어,홈데코,홈드레싱,셀프인테리어,homestyling,interior,homedeco,homedressing,selfinterior"`>
    <title>온라인 홈스타일링 인테리어 신청하기 | 홈디 - 세상에서 가장 쉬운 홈스타일링 인테리어, Home.D</title>
    <link href=/icon/home.d_logo1_96x96.png rel=icon>
    <meta content=article property=og:type>
    <meta content=Home.D property=og:title>
    <meta content=Home.D property=og:site_name>
    <meta content=/icon/home.d_logo2_192x192.png property=og:image>
    <meta content=/icon/home.d_logo2_192x192.png name=twitter:image>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1737237109865339');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1737237109865339&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script> <script type="text/javascript"> if(!wcs_add) var wcs_add = {}; wcs_add["wa"] = "1204a4e04016f90"; wcs_do();
</script>
<script>//function preloader(){document.getElementById("loading-page").style.display="none"}window.onload=preloader;
    var serviceType = <%-service%>; var main = 3;
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78690067-1', 'auto');
    ga('send', 'pageview');</script>
<div id="room-inspiration-img-zoom-div">
    <div class=room-inspiration-img-zoom-div-inner>
        <div class=room-inspiration-img-zoom-div-img-div><img src=/ class=room-inspiration-img-zoom-div-img></div>
    </div>
</div>
<!-- <div id=loading-page></div> -->
<div id="doInterior-container">
    <div class="clearfix nav navbar-fixed-top" id="navbarTop">
        <div class=navbar-header><a href=/main style=text-decoration:none><img src=/icon/logo_homed_white.png class=homed-logo
                                                                               alt="홈디 로고"></a></div>
    </div>
    <div class=navbar-fixed-bottom>
        <div class=navbar-bottom-page-no>1개 이상의 방을 선택해주세요.</div>
        <div class=navbar-bottom-button>
            <div class=navbar-prev-button><span>BACK</span></div>
            <div class=navbar-next-button><span class=next-button-span>NEXT</span></div>
        </div>
    </div>
    <div class=interior-flow>
        <div class=select-flow id="select-flow">
            <div class=select-flow-container>
                <div class=select-flow-show-flow>
                    <div class=select-flow-show-flow-outer>
                        <div class="select-flow-show-flow-content-slider select-flow-show-flow-content-slider-left">
                            <div class="select-flow-show-flow-content-slider-btn"> < </div>
                        </div>
                        <div class="select-flow-show-flow-content select-flow-show-flow-1"><img
                                    src=/images/do_Interior_flow/process_account_1.png
                                    class="select-flow-show-flow-img select-flow-show-flow-1-img"></div>
                        <div class="select-flow-show-flow-content select-flow-show-flow-2"><img
                                    src=/images/do_Interior_flow/process_account_2.png
                                    class="select-flow-show-flow-img select-flow-show-flow-2-img"></div>
                        <div class="select-flow-show-flow-content select-flow-show-flow-3"><img
                                    src=/images/do_Interior_flow/process_account_3.png
                                    class="select-flow-show-flow-img select-flow-show-flow-3-img"></div>
                        <div class="select-flow-show-flow-content select-flow-show-flow-4"><img
                                    src=/images/do_Interior_flow/process_account_4.png
                                    class="select-flow-show-flow-img select-flow-show-flow-4-img"></div>
                        <div class="select-flow-show-flow-content select-flow-show-flow-5"><img
                                    src=/images/do_Interior_flow/homestyling_meet.png
                                    class="select-flow-show-flow-img select-flow-show-flow-5-img"></div>
                        <div class="select-flow-show-flow-content-slider select-flow-show-flow-content-slider-right">
                            <div class="select-flow-show-flow-content-slider-btn"> > </div>
                        </div>
                    </div>
                    <div class=select-flow-show-flow-bottom>
                        <div class="select-flow-show-flow-button flow-page-1"><p>1</p><img
                                    src=/icon/doInterior/homestyling_button.png class="flow-page-img flow-page-1-img">
                        </div>
                        <div class="select-flow-show-flow-button flow-page-2"><p>2</p><img
                                    src=/icon/doInterior/homestyling_button.png class="flow-page-img flow-page-2-img">
                        </div>
                        <div class="select-flow-show-flow-button flow-page-3"><p>3</p><img
                                    src=/icon/doInterior/homestyling_button.png class="flow-page-img flow-page-3-img">
                        </div>
                        <div class="select-flow-show-flow-button flow-page-4"><p>4</p><img
                                    src=/icon/doInterior/homestyling_button.png class="flow-page-img flow-page-4-img">
                        </div>
                    </div>
                </div>
                <div class=select-flow-start>
                    <div class=table-centered>
                        <div class=select-flow-start-inner>
                            <div class=select-flow-start-title><p class=select-flow-start-title-p>홈디 서비스 </p>
                                <img src=/images/main_intro/bar.png
                                     class="doInterior-bar-color select-flow-start-title-bar"></div>
                            <div class=select-flow-start-manual><p>당신의 이야기를 들려주세요</div>
                                                              <!--[if lt IE 9]>
                                                                 <p class="apply-impossible">홈스타일링 신청은 익스플로러 8에서는 지원하지 않습니다. 다른 브라우져 혹은 모바일로 신청하시기 바랍니다.</div>
                                                              <![endif]-->
                                                               <!--[if (gte IE 9) | (!IE)]><!-->
                                                               <div class=flow-start-button><img src=/images/button/start_button.png
                                                                                                 class=do-interior-start-button>
                                                                <p class="homestyling-btn select-flow-btn" id="homestyling-btn">시작하기</div>
                        </div>

                                                              <!--<![endif]-->
                    </div>
                </div>
            </div>
            <footer class=footer>
                   <div class=footer-container>
                       <div class=footer-wrapper>
                           <div class=footer-1>
                               <div class=table-outer>
                                   <div class=table-inner>
                                       <div class=table-centered>
                                           <div class=footer-text><p>회사 : 3D ONE

                                               <p>대표 : 이형경

                                               <p>사업자 등록번호 : 209-16-75133</div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <img class=footer-bar src=/icon/footer/bottom_line.png>

                           <div class=footer-2>
                               <div class=table-outer>
                                   <div class=table-inner>
                                       <div class=table-centered>
                                           <div class=footer-text><p>이메일 문의 : comengineer12@homed.co.kr

                                               <p>전화 문의 : 070-5118-3772

                                               <p>주소 : 서울특별시 강남구 대치동 889-13 금강타워 15층 the works, 3D ONE</div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <img class=footer-bar src=/icon/footer/bottom_line.png>

                           <div class=footer-3>
                               <div class=table-outer>
                                   <div class=table-inner>
                                       <div class=table-centered>
                                           <div class=footer-text><a href=/policy/Terms><p>이용약관</p></a>

                                               <p>개인정보취급방침</p><a href=/policy/Disclaimer><p>책임 정책</p></a></div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <img class=footer-bar src=/icon/footer/bottom_line.png>

                           <div class=footer-4>
                               <div class=table-outer>
                                   <div class=table-inner>
                                       <div class=table-centered><!-- <a
                                                   href="https://play.google.com/store/apps/details?id=kr.co.homed.homed"> --><img
                                                       class=footer-icons src=/icon/footer/palystore_button_1.png><!-- </a> --><a
                                                   href=https://www.instagram.com/home_interior_d/ ><img class=footer-icons
                                                                                                         src=/icon/footer/instagram_button.png></a><a
                                                   href="https://www.facebook.com/HOMED-%ED%99%88%EB%94%94-1480460175582605/?fref=ts"><img
                                                       class=footer-icons src=/icon/footer/facebook_button.png></a><a
                                                   href=http://blog.naver.com/homed0303><img class=footer-icons
                                                                                             src=/icon/footer/blog_button.png></a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </footer>
        </div>
        <div class=select-room id="select-room">
            <div class="container room-img-container">
                <div class=room-img-container-inner>
                    <div class=room-img-title-div><p class=room-img-container-title>인테리어 룸 선택</p><img
                                src=/images/main_intro/bar.png class="doInterior-bar-color info-input-title-bar-img">

                        <p class=flow-explanation>인테리어를 희망하는 룸을 선택해주세요.</div>
                    <div class=room-image-div><img src=/icon/doInterior/livingroom.png
                                                   class="room-image livingroom-room"></div>
                    <div class=room-image-div><img src=/icon/doInterior/bedroom.png class="room-image bedroom-room">
                    </div>
                    <p class=room-image-line-2>

                    <div class=room-image-div><img src=/icon/doInterior/bathroom.png class="room-image bathroom-room">
                    </div>
                    <p class=room-image-line-3>

                    <div class=room-image-div><img src=/icon/doInterior/kitchen.png class="room-image kitchen-room">
                    </div>
                    <p class=room-image-line-2>

                    <div class=room-image-div><img src=/icon/doInterior/kidsroom.png class="room-image nursery-room">
                    </div>
                    <div class=room-image-div><img src=/icon/doInterior/other.png class="room-image other-room"></div>
                </div>
            </div>
        </div>
        <div class=concept-select-page id="concept-select-page">
            <div class=concept-select-container>
                <div class=concept-select-container-row-1>
                    <div class="concept-select-div-text concept-select-intro-text-div show-xs">
                        <div class=concept-select-intro-text-inner-div><p class=concept-select-title-text>컨셉 선택</p>
                            <br><img src=/images/main_intro/bar.png
                                     class="doInterior-bar-color concept-title-bar title-bar-img">

                            <p class=concept-select-title-explain>하나의 컨셉을 선택해 주세요</div>
                    </div>
                    <div class="concept-select-div concept-select-div-1">
                        <div class=concept-select-img-div><img src=/images/concept_images/concept_modern.jpg></div>
                        <div class=concept-select-text-div><input name=concept-name type=hidden value=모던>

                            <p class=concept-select-text-div-p>모던</div>
                    </div>
                    <div class="concept-select-div-text concept-select-intro-text-div hidden-xs">
                        <div class=concept-select-intro-text-inner-div><p class=concept-select-title-text>컨셉 선택</p>
                            <br><img src=/images/main_intro/bar.png class="doInterior-bar-color title-bar-img">

                            <p class=concept-select-title-explain>하나의 컨셉을 선택해 주세요</div>
                    </div>
                   <div class="concept-select-div concept-select-div-5">
                       <div class=concept-select-img-div><img src=/images/concept_images/concept_classic.jpg></div>
                       <div class=concept-select-text-div><input name=concept-name type=hidden value=클래식>

                           <p class=concept-select-text-div-p>클래식</div>
                   </div>
                </div>
                <div class=concept-select-container-row-2>
                    <div class="concept-select-div concept-select-div-3">
                        <div class=concept-select-img-div><img src=/images/concept_images/concept_simple.jpg></div>
                        <div class=concept-select-text-div><input name=concept-name type=hidden value=심플>

                            <p class=concept-select-text-div-p>심플</div>
                    </div>
                    <div class="concept-select-div concept-select-div-4">
                        <div class=concept-select-img-div><img src=/images/concept_images/concept_northEurope.jpg></div>
                        <div class=concept-select-text-div><input name=concept-name type=hidden value=북유럽>

                            <p class=concept-select-text-div-p>북유럽</div>
                    </div>
                    <div class="concept-select-div concept-select-div-2">
                        <div class=concept-select-img-div><img src=/images/concept_images/concept_other.jpg></div>
                        <div class=concept-select-text-div><input name=concept-name type=hidden value=기타>

                            <p class=concept-select-text-div-p>기타</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=room-inspiration id="room-inspiration">
            <div class=room-inspiration-title-div><p class=room-inspiration-title>인테리어 사진 선택</p><img
                        src=/images/main_intro/bar.png class="doInterior-bar-color info-input-title-bar-img">

                <p class=flow-explanation>인테리어를 희망하는 느낌을 알려주세요.<br>이 곳의 사진보다 느낌에 가까운 다른 사진들을 미리 준비하는 것도 좋습니다.<br></div>
            <div class=table-outer>
                <div class=table-inner>
                    <div class=table-centered>
                        <div class=room-columns-div>
                            <div id="room-columns" data-columns>
                                <% roomInspiration.forEach( function(roomInspirationImg, index) { %>
                                <div class=room-inspiration-img-div>
                                    <div class=room-inspiration-img-inner>
                                        <div class=room-inspiration-main-img><img
                                                    src=<%= roomInspirationImg %> class=room-inspiration-img></div>
                                        <div class=room-inspiration-click-img><img src=/images/button/image_click.png
                                                                                   class=image-click></div>
                                        <div class=room-inspiration-zoom-icon><img src=/icon/zoom_button.png
                                                                                   class=room-inspiration-zoom-icon-img>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=offline-select-page id="offline-select-page">
            <div class=table-outer>
                <div class=table-inner>
                    <div class=table-centered>
                        <div class=offline-select-div-outer>
                            <div class=offline-select-div-1>
                                <div class=offline-img-outer-div><img src=/images/do_Interior_flow/offline_meeting.png
                                                                      class=do-interior-offline-img></div>
                            </div>
                            <div class=offline-select-div-2>
                                <div class=offline-select-div-2-inner>
                                    <div class=offline-select-div-title-div>오프라인 미팅</div>
                                    <div class=offline-select-title-bar-img-div><img src=/images/main_intro/bar.png
                                                                                     class="doInterior-bar-color offline-select-title-bar-img">
                                    </div>
                                    <div class=offline-select-div-text-div><p class=offline-select-div-text-div-p>디자이너가
                                            직접 소비자의 집 방문

                                        <p class=offline-select-div-text-div-p>정확한 실측과 공간에 들어갈 가구 배치 예상 가능

                                        <p class=offline-select-div-text-div-p>고객의 이야기를 정확히 디자인에 반영

                                        <p class=offline-select-div-text-div-p>더 완벽한 홈스타일링을 원하시는 분들에게 추천합니다.

                                        <p class=offline-select-div-text-div-p-red>오프라인 진행은 서울, 경기만 가능합니다.

                                        <p class=offline-select-div-text-div-p-red>그 외 지역은 문의 요망

                                        <p class=offline-select-div-text-div-p-red>**오프라인 진행 시 +100,000원 추가 요금</div>
                                    <div class=offline-select-div-check-box-div>
                                        <div class="offline-select-div-check-box offline-select-div-check-box-online"></div>
                                        <p class=offline-select-div-check-box-div-text>온라인 진행

                                        <div class="offline-select-div-check-box offline-select-div-check-box-offline"></div>
                                        <p class=offline-select-div-check-box-div-text>오프라인 진행</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=user-info id="user-inf" o>
            <div class=table-outer>
                <div class=table-inner>
                    <div class=table-centered>
                        <div class=user-info-container><p class=user-info-container-title>홈디 신청</p><img
                                    src=/images/main_intro/bar.png
                                    class="doInterior-bar-color info-input-title-bar-img">

                            <p class=flow-explanation>당신에 대해 몇 가지 추가 정보를 알려주세요.

                            <div class=user-info-row-div>
                                <div class=user-info-title><img src=/icon/doInterior/name.png class=user-info-name-img>이름
                                </div>
                                <div class=user-info-input><input class=user-name-input placeholder="" tabIndex="1"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class=user-info-title><img src=/icon/doInterior/money.png class=user-info-name-img>예산안
                                </div>
                                <div class=user-info-input><input class=user-price-input placeholder="  - 만원" tabIndex="2"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class=user-info-title><img src=/icon/doInterior/house.png class=user-info-name-img>주거형태
                                </div>
                                <div class=user-info-input><input class=user-house-input placeholder="  ex) 빌라, 아파트, 주택, 원룸 ..." tabIndex="3"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class=user-info-title><img src=/icon/doInterior/position.png
                                                                class=user-info-name-img>주 소
                                </div>
                                <div class=user-info-input><input class=user-address-input placeholder="  ex) **시 **구 ..." tabIndex="4"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class=user-info-title><img src=/icon/doInterior/smartphone.png
                                                                class=user-info-name-img>핸드폰
                                </div>
                                <div class=user-info-input><input class=user-phone-input placeholder="" tabIndex="5"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class="user-info-title user-info-title-padding-left">나이
                                </div>
                                <div class=user-info-input><input class=user-age-input placeholder="" tabIndex="6"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class="user-info-title user-info-title-padding-left">유입 경로
                                </div>
                                <div class=user-info-input><!-- <input class=user-funnel-input placeholder="  ex) 인터넷 검색, 카페(카페 명), 지인..." tabIndex="7"> -->
                                    <form>
                                    <input type="radio" name=user-funnel-input id="radio-internet" value='인터넷검색'>인터넷검색
                                    <input type="radio" name=user-funnel-input id="radio-cafe" value='카페'>카페
                                    <input type="radio" name=user-funnel-input id="radio-blog" value='블로그'>블로그
                                    <input type="radio" name=user-funnel-input id="radio-known" value='지인'>지인
                                    <input type="radio" name=user-funnel-input id="radio-others" value='기타'>기타
                                    </form>
                                </div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div>
                                <div class=user-info-title><img src=/icon/doInterior/message.png
                                                                class=user-info-name-img>이메일
                                </div>
                                <div class=user-info-input><input class=user-email-input placeholder="" tabIndex="8"></div>
                                <div class=user-info-empty></div>
                            </div>
                            <div class=user-info-row-div-message>
                                <div class=user-info-title-message>메세지</div>
                                <div class=user-info-input><textarea class=message-textarea tabIndex="9"></textarea></div>
                                <div class=user-info-empty></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=final-confirmation id="final-confirmation">
            <div class=table-outer>
                <div class=table-inner>
                    <div class=table-centered>
                        <div class=confirmation-container><p class=confirmation-title>신청 내역

                            <div><img src=/images/main_intro/bar.png
                                      class="doInterior-bar-color confirmation-input-title-bar-img"></div>
                            <div class="confirmation-row select-room-confirm">
                                <div class="confirm-name select-room-confrim-name"><p><br>룸 선택</div>
                                <div class="confirm-input select-room-confirm-input"></div>
                            </div>
                            <div class="confirmation-row concept-confirm">
                                <div class="confirm-name concept-confrim-name"><p>컨셉</div>
                                <div class="confirm-input concept-confirm-input"><p>선택안함</div>
                            </div>
                            <div class="confirmation-row inspiration-confirm">
                                <div class="confirm-name inspiration-confirm-name"><p><br>인테리어 사진</div>
                                <div class="confirm-input inspiration-confirm-input"></div>
                            </div>
                            <div class="confirmation-row user-info-confirm">
                                <div class="confirm-name user-info-confirm-name"><p><br>개인정보</div>
                                <div class="confirm-input user-info-confirm-input">
                                    <div class=user-info-confirm-input-container>
                                        <div class="user-info-confirm-input-container-row user-info-confirm-input-container-row-name">
                                            <div class=user-info-confirm-input-container-row-title>이 름</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-name"></div>
                                        </div>
                                        <div class=user-info-confirm-input-container-row>
                                            <div class=user-info-confirm-input-container-row-title>예산안</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-price"></div>
                                        </div>
                                        <div class=user-info-confirm-input-container-row>
                                            <div class=user-info-confirm-input-container-row-title>주거형태</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-house"></div>
                                        </div>
                                        <div class=user-info-confirm-input-container-row>
                                            <div class=user-info-confirm-input-container-row-title>주 소</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-address"></div>
                                        </div>
                                        <div class=user-info-confirm-input-container-row>
                                            <div class=user-info-confirm-input-container-row-title>핸드폰</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-phone"></div>
                                        </div>
                                        <div class=user-info-confirm-input-container-row>
                                            <div class=user-info-confirm-input-container-row-title>이메일</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-email"></div>
                                        </div>
                                        <div class=user-info-confirm-input-container-row>
                                            <div class=user-info-confirm-input-container-row-title>메세지</div>
                                            <div class="user-info-confirm-input-container-row-input user-info-confirm-input-container-row-input-message"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="confirmation-row price-confirm">
                                <div class="confirm-name price-confirm-name"><p><br>결제 금액</div>
                                <div class="confirm-input price-confirm-input">
                                    <div class=offline-meeting-price-container>
                                        <div class=offline-meeting-title>오프라인 미팅</div>
                                        <div class=offline-meeting-price-div>0 원</div>
                                    </div>
                                    <div class=total-price-container>
                                        <div class=total-price-title>총 결제 금액</div>
                                        <div class=total-price-div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=matching-container>
            <div class=table-outer>
                <div class=table-inner>
                    <div class=table-centered>
                        <div class=matching-container-inner-div>
                            <div class=matching-container-inner id="matching-container-inner"><img
                                        src=/images/matching/matching_0.png class=matching_img> <img
                                        src=/images/matching/matching_1.png class=matching_img> <img
                                        src=/images/matching/matching_2.png class=matching_img> <img
                                        src=/images/matching/matching_3.png class=matching_img> <img
                                        src=/images/matching/matching_4.png class=matching_img> <img
                                        src=/images/matching/matching_5.png class=matching_img> <img
                                        src=/images/matching/matching_6.png class=matching_img> <img
                                        src=/images/matching/matching_7.png class=matching_img> <img
                                        src=/images/matching/matching_8.png class=matching_img> <img
                                        src=/images/matching/matching_9.png class=matching_img> <img
                                        src=/images/matching/matching_10.png class=matching_img> <img
                                        src=/images/matching/matching_11.png class=matching_img> <img
                                        src=/images/matching/matching_12.png class=matching_img> <img
                                        src=/images/matching/matching_13.png class=matching_img> <img
                                        src=/images/matching/matching_14.png class=matching_img> <img
                                        src=/images/matching/matching_15.png class=matching_img></div>
                            <p class=matching-text1>신청 중... 잠시만 기다려 주세요

                            <p class="matching-text2 matching-text-2-title">고객님의 홈스타일링 신청이 완료되었습니다<br><br>

                            <p class=matching-text2>신청 후 홈디 디자이너 매칭까지 1일 정도가 소요되며,<br>매칭이 완료되면 홈디에서 연락을 드리겠습니다.<br><br>
                            </p><a href=/main>
                                <div class=matching-home-btn>확 인</div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
     <script   src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src=/javascripts/ie/nav-bar.js></script>
    <script src=/javascripts/ie/doInterior.js></script>
    <![endif]-->
    <!--[if IE 9]>
     <script   src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src=/javascripts/ie/nav-bar.js></script>
    <script src=/javascripts/ie/doInterior.js></script>
   <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js></script>
   <script src=/javascripts/salvattore.min.js></script>
    <![endif]-->

    <!--[if (gt IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-migrate-3.0.0.min.js"></script>

   <script src=/javascripts/masonry.pkgd.min.js></script>
    <script src=/javascripts/nav-bar.js></script>
    <script src=/javascripts/doInterior.js></script>
   <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js></script>
   <script src=/javascripts/salvattore.min.js></script>
   <!--<![endif]-->

</div>