<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta NAME="viewport" content="width=device-width, initial-scale=1  maximum-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="">
		<title> Home.D </title>
		<link rel="icon" type="text/css" href="/icon/home.d_logo1_96x96.png">
		<meta property="og:type" content="article" />
    <meta property="og:title" content="Home.D" />
    <meta property="og:site_name" content="Home.D">
    <meta property="og:image" content="/icon/home.d_logo2_192x192.png">
    <meta name="twitter:image" content="/icon/home.d_logo2_192x192.png">
    <meta property="og:description" content="Home.D" /> <!--[if lte IE 9]>
        <link href=/stylesheets/ie/style.css rel=stylesheet>
        <link href=/stylesheets/ie/nav-bar.css rel=stylesheet>
        <link href=/stylesheets/ie/front-web.css rel=stylesheet>
        <script>
              document.createElement('header');
              document.createElement('nav');
              document.createElement('section');
              document.createElement('article');
              document.createElement('aside');
              document.createElement('footer');
           </script>
    <![endif]-->
    <!--[if (gt IE 9) | (!IE)]><!-->
        <link href=/stylesheets/style.css rel=stylesheet>
        <link href=/stylesheets/nav-bar.css rel=stylesheet>
        <link href=/stylesheets/front-web.css rel=stylesheet>
     <!--<![endif]-->
  	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-78690067-1', 'auto');
  	ga('send', 'pageview');
  	</script>
	</head>
	<body>
			<nav class="nav navbar-fixed-top clearfix" id="navbarTop">
			    <div class="navbar-header">
			        <a href="/main" style="text-decoration:none;">
			            <img class="homed-logo" alt="홈디 로고" src="/icon/logo_homed.png">
			        </a>


			    </div>
			    <div class="nav-top-right">
			        <div class="dropdown question-btn">
			            <span><img class="question-img" src="/icon/faq.png"></span>

			            <div class="dropdown-content">
			                <p><a href="http://homed.co.kr/question/FAQ">FAQ</a></p>

			                <p><a href="http://homed.co.kr/question/board">질문 게시판</a></p>
			            </div>
			        </div>
			        <a href="http://homed.co.kr/main#page-service" class="navbar-btn">
			            <div class="request-img">
			                <div class="table-outer">
			                    <div class="table-inner">
			                        <div class="table-centered">
			                            집 꾸미러 가기
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </a>
			    </div>
			</nav>
			<div class="container policy">
				<table class="table">
					<tr>
						<td>
								<h1>홈디 서비스 이용 약관</h1>

								  	<h2>제 1조 ( 목적 )</h2>
								  	이 약관은 (주)쓰리디원(이하 "회사"라 한다)이 운영, 제공하는 인터넷 관련 서비스(이하 "홈디"라 한다)를 이용함에 있어 이용자의 권리 의무 및 책임 사항을 규정함을 목적으로 합니다.

								  	<h2>제 2조 ( 정의 ) </h2>
								  	1. "이용자"라 함은 이약관에 따라 "회사"와 이용 계약을 체결하여 "회사"가 제공하는 홈디 서비스를 이용하는 자를 말합니다.<br>
								  	2. "고객"이라 함은 일의 의뢰를 위해 신청서를 작성하는 이용자를 칭합니다.<br>
								  	3. "디자이너"라 함은 홈스타일링 디자인을 수행하고자 파트너 계약을 체결한 디자이너를 칭합니다. <br>
								    4. "홈디 서비스"라 함은 "회사"와 "디자이너"가 제공하는 온라인 홈스타일링 관련 서비스를 말합니다. <br>
								    5. "디자인 제안서"라 함은 "디자이너"가 "이용자"에게 제공하는 도면, 가상 컨셉, 제품 정보를 포함한 홈스타일링 디자인 제안서를 말합니다. <br>
								    5. 이 약관에 사용되는 용어 중 본 조에서 정하지 아니한 부분은 관계 법령 및 일반 관례에 따릅니다. <br>
								  	<br>
								    <h2>제 3조(약관의 명시와 개정)</h2>
								    1. "회사"는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지, 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록 "회사" 홈페이지의 초기 서비스화면(전면)에 게시합니다. 다만 약관의 내용은 이용자가 연결 화면을 통해 볼 수 있도록 할 수 있습니다. <br>
								    2. "회사"는 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회, 환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결 화면 또는 팝업 화면 등을 제공하여 이용자의 확인을 구하여야 합니다. <br>
								    3. "회사"는 전자상거래등에서의 소비자 보호에 관한 법률, 약관의 규제에 관한 법률, 전자거래 기본법, 전자서명법, 정보통신망 이용촉진등에 관한 법률, 방문판매등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다. <br>
								    4. "회사"가 약관을 개정할 경우에는 적용 일자 및 개정사유를 명시하여 현행 약관과 함께 "회사"홈페이지의 초기화면에 그 적용일자 7일 이전부터 적용 일자 전날까지 공지합니다. 다만, 이용자에게 불리하게 약관 내용을 변경하는 경우 최소한 30일의 유예기간을 두고 공지합니다. 이 경우 "회사"는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시 합니다. <br>
								    5. "회사"가 약관을 개정할 경우에는 그 개정약관은 적용 일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제 3항에 의한 개정 약관의 공지 기간 내에 "회사"에 송신하여 동의를 받은 경우에는 개정약관 조항이 적용됩니다. <br>
								    6. 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자 보호에 관한 법률, 약관의 규제 등에 관한 법률, 정부가 제정한 전자상거래 등에서의 소비자 보호 지침 및 관계 법령 또는 상 관례에 따릅니다. <br> <br>

								    <h2>제 4조(서비스의 제공 및 변경)</h2>
								    1. "회사"에서 제공하는 서비스를 "홈디 서비스"라 부릅니다. <br>
								    2. 일의 의뢰는 이용자 가입 없이 할 수 있습니다. 단, 일을 의뢰하거나 수행하기 위해서는 "회사"가 요구하는 정보를 제출하고 약관 및 규정과 정책 등에 동의하셔야 합니다. <br>
								    3. 결제는 신청 이후 홈디에서 송부한 견적서를 바탕으로 결제하셔야 합니다. <br>
								    4. 잦은 분쟁을 일으키거나 또는 직거래를 요구하는 고객의 경우 서비스 신청을 거절 할 수 있으며, 디자이너의 경우 디자이너 계약을 해지 할 수 있습니다. <br>
								    5. "회사"에서 제공하는 "홈디" 서비스는 고객이 직접 가구와 소품을 가지고 집을 꾸미는 것으로 "회사"는 오직 실측 및 디자인과 제품 구매 대행만 제공합니다. <br>
								    6. "회사"에서 제공하는 "오프라인 미팅" 서비스는 디자이너가 직접 이용자에게 방문해 디자인 전 실측 및 컨설팅만 제공합니다. <br> <br>

								    <h2>제 5조(서비스의 중단)</h2>
								    1. "회사"는 컴퓨터 등 정보통신 설비의 보수 점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다. <br>
								    2. "회사"는 제 1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제 3자가 입은 손해에 대하여 배상합니다. 단 "회사"에 고의 또는 과실이 없는 경우에는 그러지 아니합니다. <br>
								    3. 사업 종목의 전환, 사업의 포기, 업체 간 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 "회사"는 제 7조에 정한 방법으로 이용자에게 통지하고 당초 "회사"에서 제시한 조건에 따라 소비자에게 보상합니다. <br> <br>

								    <h2>제  6조(고객 계약 해지 및 자격 상실 등) </h2>
								    1. 고객은 "회사"에 언제든지 계약 해지를 요청 할 수 있으며, "회사"는 고객이 계약 해지를 요청하면 환불 정책에 따라 즉시 최소 처리합니다. <br>
								    2. 고객이 다음 각 호의 사유에 해당하는 경우, "회사"는 고객의 자격을 제한 및 정지, 계약을 해지 시킬 수 있으며 그 결정이 결제 이후라면 "회사"의 환불 정책에 따라 환불합니다. <br>
								        &nbsp; 1) 이용 신청에 허위 내용을 등록한 경우 <br>

								       &nbsp; 2) "회사"를 이용하여 구입한 용역, 재화 등의 대금, 기타 "회사"이용에 관련하여 고객이 부담하는 채무를 기일에         지급하지 않는 경우 <br>

								        &nbsp; 3) 다른 사람의 "회사"이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우 <br>

								       &nbsp;  4) "회사"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우 <br>

								        &nbsp; 5) 기타 다음과 같은 행위 등으로 "회사"의 건전한 운영을 해하거나 "회사"의 업무를 방해하는 경우 <br>

								       &nbsp; &nbsp;     - "회사"의 운영에 관련하여 근거 없는 사실 또는 허위의 사실을 적시하거나 유포하여 "회사"의 명예를                    실추시키고 "회사"의 신뢰성을 해햐는 경우 <br>
								        &nbsp; &nbsp;        -  "회사"의 고객과 디자이너 및 직원에게 폭언 또는 음란한 언행을 하여 업무를 방해하는 경우 <br>
								        &nbsp; &nbsp;     - "회사"에 이유없는 잦은 연락이나 소란 또는 협박, 인과관계가 입증되지 않는 피해에 대한 보성(적립금,                     현금, 상품)요구 등으로 업무를 방해하는 경우 <br>

								         &nbsp; &nbsp;        - "회사"를 통해 구입한 상품 또는 용역에 특별한 하자가 없는데도 불구하고 일부 사용 후 상습적인 취소 전부                      또는 일부 반품 등으로 당사의 업무를 방해하는 경우. 단, 당해 고객의 취소 반품 비율이 회사의 평균                         취소 반품률 보다 50%이상 높을 경우에는 상습적인 것으로 인정 될 수 있습니다. <br>

								    3. "회사"가 고객 자격을 제한, 정지시킨 후 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우, "회사"는 고객 자격을 상실시켜 홈디 서비스 이용을 제한할 수 있습니다. <br>
								    4. "회사"가 고객 자격을 상실시키는 경우 고객에게 이를 통지하고 고객 자격 상실 전 최소한 20일의 기간을 정하여 소명할 기회를 부여합니다. <br>
								<br>

								    <h2>제 7조(이용자에 대한 통지)</h2>
								    1. "회사"가 이용자에 대한 통지를 하는 경우, "회사"와 미리 약정한 전자우편 주소로 할 수 있습니다. <BR>
								    2. "회사"는 불특정다수 이용자에 대한 통지의 경우 1주일 이상 "회사" 게시판에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 이용자와의 거래와 곤련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다. <br> <br>

								    <h2>제 8조(계약완료 및 일정 변경, 환불정책)</h2>
								    1. 이용자가 일의 의뢰를 완료하기 위해서는 "회사"가 정한 방법과 기한 내에 결제를 완료 해야 합니다. <br>
								       &nbsp; 1) 결제는 견적서 수신 후 3일안에 입금을 완료해야 합니다. <br>

								       &nbsp; 2) 결제는 당사에서 전달한 견적서를 통해 카드 또는 무통장 입금으로 해야 합니다. <br>
								    2. 이용자가 일을 의뢰하고 결제한 이후 날짜와 시간 등 일정 변경을 요청하였으나 변경이 불가능한 경우 또는 이용자의 사정에 따라 결제 취소를 원할 경우 아래의 기준에 따라 환불 받을 수 있습니다. <br>
								     <br>
								    <table style="border: 1px solid black;text-align:center;">
								      <tr><th style="border: 1px solid black">서비스 단계</th> <th style="border: 1px solid black">진행률(%)</th><th style="border: 1px solid black">제공 항목</th><th style="border: 1px solid black">환불규정</th></tr>
								      <tr><td style="border: 1px solid black">신청 및 상담</td><td style="border: 1px solid black">10%</td><td style="border: 1px solid black">소비자 신청 및 상담</td><td style="border: 1px solid black">100% 환불</td></tr>
								      <tr><td style="border: 1px solid black">디자이너 매칭 상담</td><td style="border: 1px solid black">20%</td><td style="border: 1px solid black">디자이너와 컨셉 <br> 및 홈스타일링 방향 <br> 가구, 소품 리스트 등의 <br> 컨설팅 진행</td><td style="border: 1px solid black">20% 환불</td></tr>
								      <tr><td style="border: 1px solid black">컨셉 보드 제안</td><td style="border: 1px solid black">80%</td><td style="border: 1px solid black">2개 컨셉보드</td><td style="border: 1px solid black">컨셉보드 작업 시작 : 50%환불 <br>컨셉보드 완료 : 환불 불가</td></tr>
								      <tr><td style="border: 1px solid black">최종 디자인 제안 <br> 디자인 및 제품</td><td style="border: 1px solid black">100%</td><td style="border: 1px solid black">최종 디자인 <br>제품 정보</td><td style="border: 1px solid black">환불 불가</td></tr>
								    </table>
								    <br>
								    **별도 입금
								    <table style="border: 1px solid black;text-align:center;">
								      <tr><td style="border: 1px solid black">오프라인 미팅</td><td style="border: 1px solid black">100%</td><td style="border: 1px solid black">디자이너 직접 방문 <br>및 상담</td> <td style="border: 1px solid black">환불 불가</td></tr>
								      <tr><td style="border: 1px solid black">제품 구매 및 배송</td><td style="border: 1px solid black">100%</td><td style="border: 1px solid black">제품 구매 및 배송</td><td style="border: 1px solid black">직접 구매시 100% 환불</td></tr>
								    </table>
								    <br><br>
								    <!--  -->
								<!--  -->
								    <h2>제 9조(면책조항)</h2>
								    1. "회사"는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 이용자에게 발생한 손해에 대해서는 책임을 부담하지 않습니다. <BR>
								       &nbsp;  1) 서비스 제공을 위하여 당사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우 <BR>
								       &nbsp;  2) "회사"의 제반 사정으로 서비스를 할 수 없는 경우 <br>
								       &nbsp;  3) 이용자의 귀책사유로 서비스 이용에 장애가 있는 경우 <br>
								      &nbsp;   4) 상기 각 항을 제외한 기타 "회사"의 고의, 과실이 없는 사유로 인한 경우 <br>
								    2. "회사"는 서비스 개편이나 운영상 또는 "회사"의 긴박한 상황 등에 의해 서비스 전부나 일부를 중단할 필요가 있는 경우 7일 전에 홈페이지에 이를 공지하고 서비스의 제공을 중단할 수 있습니다. <br>
								    3. “회사"는 "이용자"의 귀책사유로 인한 서비스 이용 장애에 대한 책임이 면제됩니다. <br>
								    4. "회사"는 "이용자"가 당사의 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나, 서비스 내용을 숙지하지 못하여 발생하는 손해 등에 대해서는 책임이 면제됩니다. <br>
								    5. "회사"는 회사 서비스 이용자가 당사의 다른 이용자에게 경제적, 정신적, 물질적 피해를 가해도 그 책임은 해당 이용자에게 있습니다. <br>
								    6. "회사"는 "이용자"가 본 약관 규정을 위배하여 발생한 손실에 대해서는 책임을 지지 않습니다. <br>
								    7. "회사"의 동의 없이 제3자에게 "이용자"의 권한을 판매 및 양도할 경우 이용자 자격 박탈 및 민사청구 및 형사상의 고소 또는 고발이 가능합니다. 또한 이로 인한 모든 피해는 불법으로 이용자 권한을 판매/양도한 이용자에게 귀속됩니다. <br>
								    8. "이용자"가 작성한 연락방법 및 연락처가 본인이 확인 가능한 이메일이 아니거나 연락처 갱신을 하지 않아 "회사"가 전달하는 공지사항이 그 전달 방법인 E-mail과 SMS 전송, 또는 어플리케이션 메시지를 통해 전달되지 못하여 발생하는 손해에 대한 책임은 "이용자" 본인에게 있습니다. <br>
								    9. "이용자와 이용자"간 또는 "이용자"와 제3자 상호간의 온라인 및 오프라인상에서 이루어진 행위에 대해서는 이용자 당사자들에게 책임이 있습니다. 이에 홈스타일링을 진행함에 있어 신중히 결정하여 이용자로서 올바른 활동을 하시기 바랍니다. <br> <br>



								  <h2>제 10조("회사"의 의무)</h2>
								    1. "회사"는 법령과 이약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이약관이 정하는 바에 따라 지속적이고 안정적으로 서비스를 제공하는데 최선을 다하여야 합니다. <br>
								    2. "회사"는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안시스템을 갖추어야 합니다. <br>
								    3. "회사"는 홈디 이용 시 "이용자'에게 사전 정보입력을 강요하지 않습니다. 다만 이용자 스스로 일을 의뢰하기 위하여 자발적인 정보입력을 위한 수단(기능)을 제공합니다. <br>
								    4. "당사"는 정기적으로 "이용자"에게 당사의 서비스 내용 및 이용 안내에 대한 정기적인 서신을 보낼 수 있스비다. (공지, SNS, E-mail 등) <br> <br>


								    <h2>제 11조(이용자의 의무)</h2>
								    이용자는 다음 행위를 하여서는 안됩니다. <BR>
								    1. "이용자"는 의뢰한 일의 시작 전에 반드시 상세 내용과 거래의 조건을 정확하게 확인해야 합니다. 거래 내용과 거래조건을 확인하지 않고 거래를 진행하는데 발생한 모든 손실, 손해는 "이용자"에게 있습니다. <BR>
								    2. "이용자"는 이 약관 및 "회사"가 유료서비스와 관련하여 고지하는 내용을 준수하여야 하며, 약관 및 고지내용을 위반하거나 이행하지 아니하여 발생하는 모든 손실, 손해에 대하여 책임을 부담합니다. <BR>
								    3. "회사"는 "이용자" 개인 정보에 대한 보증을 하지 않습니다. 또한 약관 등을 확인하지 않아 작업 중 발생한 문제의 책임은 전적으로 이용자 본인에게 귀속되기에 약관 등을 신중히 검토한 후 서비스를 이용해야 합니다. <br>
								    4. "이용자"가 직접 입력한 정보는 진실하여야 하며 만일 이용자가 허위 기타 부정한 정보를 입력하여 회사 또는 다른 이용자에게 피해가 발생할 경우 그에 대한 민, 형사상의 책임을 포함한 일체의 책임은 이용자 본인에게 귀속됩니다. <br>
								    5. "이용자"는 "회사"가 유료서비스를 안전하게 제공할 수 있도록 "회사"에 협조하여야 하며, "회사"가 "이용자"의 약관 위반행위를 발견하여 "이용자"에게 해당 위반 행위에 대하여 소명을 요청할 경우 "이용자"는 "회사"의 요청에 적극 응하여야 합니다. <br>
								    6. "이용자"는 아래 각 호에 해당하는 행위를 해서는 안 됩니다. <br>
								      &nbsp;   1) 회사 사이트의 이용자 정보를 부정하게 취득하는 행위 <br>

								        &nbsp; 2) 회사 홈페이지를 기타 해킹 또는 유사 프로그램을 이용하여 정상적인 운영을 어렵게 하는 행위(해킹 또는 바이러스 유포, D-DOS 공격 등) <br>
								       &nbsp;  3) 타인의 개인정보를 도용하는 행위 <br>

								       &nbsp;  4) 홈디에 대한 허위 사실을 유포하거나 업무방해를 하는 행위 <br>

								        이상 위 4항 각 호 해당 사항에 명시한 내용을 위반한 이용자은 계약취소 처리 될 수 있으며 민, 형사상의책임을 지게 됩니다. <br>

								    7. 회사 이용자의 권한은 본인이 아닌 타인에게 양도 및 판매가 불가능합니다. <br>
								<br>

								    <h2>제 12조(저작권의 귀속)</h2>
								    1. "회사"가 제공한 "디자인 제안서"에 대한 저작권, 기타 지적재산권은 "회사"와 "디자이너"에 귀속합니다. <br>
								    2. 이용자는 "회사"를 이용함으로써 얻은 정보 중 "회사"에게 지적재산권이 귀속된 정보를 "회사"의 사전승낙 없이 복제, 송신, 출판, 배포, 방송, 기타 방법에 의하여 영리 목적으로 이용하거나 제 3자에게 이용하게 하여서는 안됩니다. <br>
								<br>
								    <h2>제 13조(분쟁해결)</h2>
								    1. "회사"는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상 처리하기 위하여 담당자를 배치합니다. <br>
								    2. "회사"는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유에 대해 설명해 드립니다. <br>
								    3. "회사"는 "이용자"간의 거래의 분쟁으로 발생한 손해에 대하여, "회사"의 고의, 과실이 있는 경우 그 범위내에서 손해배상을 합니다. <br> <br>
						</td>
					</tr>
				</table>
			</div>


			<footer class="footer">
					<div class="footer-left">
						<div class="content">
							&nbsp 쓰리디원&nbsp | &nbsp 사업자 등록번호 209-16-75133&nbsp | &nbsp 대표자 이형경&nbsp | &nbsp서울특별시 성북구 길음동, 기린빌딩 2층 204호
						</div>
					</div>
					<div class="footer-right">
						<div class="footer-policy">
							<p> <a href="http://www.homed.co.kr/policy/Terms">Terms</a> | Pirivacy | <a href="http://www.homed.co.kr/policy/Disclaimer">Disclaimer</a></p><br>
						</div>
						<div class="footer-contact">
							<p class="hidden-xs">블로그 : <a href="http://blog.naver.com/homed0303">http://blog.naver.com/homed0303</a></p>
							<p class="visible-xs"><a href="http://blog.naver.com/homed0303"> 블로그</a> </p>
							<p class="hidden-xs">인스타 : <a href="https://www.instagram.com/home_interior_d/">https://www.instagram.com/home_interior_d/</a></p>
							<p class="visible-xs"><a href="https://www.instagram.com/home_interior_d/">인스타</a></p>

							이메일 : snaos1@homed.co.kr<br>
							전화 번호 : 010-8998-8130
						</div>
					</div>
			</footer><!--[if lte IE 9]>
         <script   src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src=/javascripts/ie/nav-bar.js></script>
        <![endif]-->

        <!--[if (gt IE 9) | (!IE)]><!-->
            <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
            <script type="text/javascript" src="/javascripts/jquery-migrate-3.0.0.min.js"></script>
            <script src=/javascripts/front-web.js></script>
            <script src=/javascripts/nav-bar.js></script>
         <!--<![endif]-->

	</body>
</html>
